@import 'components/ciner_slider';

.discussion-item {
  .thumb-user {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: left;

    img {
      width: 100%;
      height: 100%;
    }

  }

}

.highlight {
  color: rgb(184, 184, 184);
  margin-bottom: 5px;
  margin-top: 10px;
  height: 30px;
  width: 90px;
  margin-top: 0px;

  .button {
    cursor: normal;
    float: left;
    border: 1px solid $light-orange;
    border-radius: 8px;
    padding: 4px 10px;
    text-decoration: none;
    background: transparent;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .info {
    line-height: 30px;
  }

}

.title-separator {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.post-item {
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  height: 114px;

  a {
    h4 {
      box-sizing: border-box;
      color: #333333;
      font-family: "Montserrat";
      font-size: 15px;
      font-weight: 500;
      line-height: 19px;
      margin-bottom: 10px;
      margin-top: 10px;
      height: 19px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      h4 {
        color: #E2347D;
      }

    }

  }

  p {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 200;
    line-height: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 30px;
  }

  span.date {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 200;
    line-height: 30px;
    color: rgb(184, 184, 184);
  }

}

.featured-items {
  .movie-poster-item {
    width: 133px;
    height: 200px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  .movie-poster-item:first-child {
    margin-left: 0px;
  }

  .movie-poster-item:last-child {
    margin-right: 0px;
  }

}

.ciner-videos {
  .ciner-movie {
    padding: 0px;
    margin-right: 7px;
    margin-left: 5px;
    width: 31%;
  }

  .ciner-movie:first-child {
    margin-left: 15px;
  }

  .ciner-movie:last-child {
    margin-right: 10px;
  }

  .ciner-video-user {
    box-sizing: border-box;
    color: rgb(138, 149, 153);
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 18px;
    position: relative;
    text-alignleftwidth: 250px;

    .user {
      box-sizing: border-box;
      color: rgb(138, 149, 153);
      display: flex;
      flex-wrap: nowrap;
      font-size: 12px;
      line-height: 16.8px;
      position: relative;
      text-alignleftwidth: 250px;

      .name {
        box-sizing: border-box;
        color: rgb(138, 149, 153);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 16.8px;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        text-alignlefttext-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        a {
          width: 100%;
          background-color: transparent;
          border-bottom-color: rgb(135, 156, 171);
          border-bottom-style: none;
          border-bottom-width: 0px;
          border-image-outset: 0 0 0 0;
          border-image-repeat: stretch stretch;
          border-image-slice: 100% 100% 100% 100%;
          border-image-source: none;
          border-image-width: 1 1 1 1;
          border-left-color: rgb(135, 156, 171);
          border-left-style: none;
          border-left-width: 0px;
          border-right-color: rgb(135, 156, 171);
          border-right-style: none;
          border-right-width: 0px;
          border-top-color: rgb(135, 156, 171);
          border-top-style: none;
          border-top-width: 0px;
          box-sizing: border-box;
          color: rgb(135, 156, 171);
          cursor: pointer;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 16.8px;
          padding-bottom: 0px;
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 0px;
          text-alignlefttext-decoration: none;
          text-decoration-color: rgb(135, 156, 171);
          text-decoration-line: none;
          text-decoration-style: solid;
          transition-delay: 0s;
          transition-duration: 0.1s;
          transition-property: all;
          transition-timing-function: ease-in-out;
          white-space: nowrap;
          -moz-appearance: none;
          -moz-border-bottom-colors: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
        }

      }

      a {
        box-sizing: border-box;
        color: rgb(23, 39, 46);
        cursor: pointer;
        display: block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        height: 16px;
        line-height: 16.8px;
        margin-right: 5px;
        max-height: 100%;
        max-width: none;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        text-alignlefttext-decoration: none;
        text-decoration-color: rgb(23, 39, 46);
        text-decoration-line: none;
        text-decoration-style: solid;
        vertical-align: middle;
        width: 16px;

        img {
          background-attachment: scroll;
          background-clip: border-box;
          background-color: rgb(255, 255, 255);
          background-image: none;
          background-origin: padding-box;
          background-position: 0% 0%;
          background-position-x: 0%;
          background-position-y: 0%;
          background-repeat: repeat;
          background-size: auto auto;
          border-bottom-color: rgb(23, 39, 46);
          border-bottom-style: none;
          border-bottom-width: 0px;
          border-image-outset: 0 0 0 0;
          border-image-repeat: stretch stretch;
          border-image-slice: 100% 100% 100% 100%;
          border-image-source: none;
          border-image-width: 1 1 1 1;
          border-left-color: rgb(23, 39, 46);
          border-left-style: none;
          border-left-width: 0px;
          border-right-color: rgb(23, 39, 46);
          border-right-style: none;
          border-right-width: 0px;
          border-top-color: rgb(23, 39, 46);
          border-top-style: none;
          border-top-width: 0px;
          box-sizing: border-box;
          color: rgb(23, 39, 46);
          cursor: pointer;
          display: block;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 16.8px;
          width: 16px;
          height: 16px;
          text-alignleftwidth: 16px;
          -moz-border-bottom-colors: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
        }

      }

    }

  }
}

.discussion {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;

  .discussion-item {
    align-items: center;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 200;
    justify-content: flex-start;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    padding-bottom: 10px;
    -moz-box-align: center;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-pack: start;

    .title {
      box-sizing: border-box;
      flex-basis: 0px;
      flex-grow: 2;
      flex-shrink: 0;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 200;
      line-height: 20px;
      -moz-box-flex: 2;
      overflow: hidden;
      width: 300px;

      a {
        background-color: transparent;
        box-sizing: border-box;
        color: #333333;
        display: inline-block;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
        line-height: 21.4333px;
        text-decoration: none;
        text-decoration-color: rgb(166, 30, 87);
        text-decoration-line: none;
        text-decoration-style: solid;
        height: 21px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;

        &:hover {
          color: #E2347D;
        }
      }

      span.author {
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        display: block;
        font-family: "Montserrat";
        font-size: 13px;
        font-weight: 200;
        line-height: 18.5667px;
        overflow: hidden;
        // text-overflow: unset;
        white-space: nowrap;
        width: 100%;

        a {
          color: rgb(51, 51, 51);
          font-family: "Montserrat";
          font-size: 13px;
          font-weight: 200;
          line-height: 18.5667px;

          &:hover {
            color: #E2347D;
          }
        }
      }
    }

    .hidden-xs.views {
      box-sizing: border-box;
      color: rgb(51, 51, 51);
      flex-basis: 0px;
      flex-grow: 1.2;
      flex-shrink: 0;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 200;
      line-height: 20px;
      -moz-box-flex: 1.2;

      span.comments,
      span.views {
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        display: inline-block;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;
        width: 150px;
        text-align: right;

        span.vermelho {
          box-sizing: border-box;
          color: rgb(166, 30, 87);
          font-size: 14px;
          font-weight: 200;
          line-height: 20px;
        }
      }
    }

    .hidden-xs.last-comment {
      box-sizing: border-box;
      color: rgb(51, 51, 51);
      flex-basis: 0px;
      flex-grow: 1.3;
      flex-shrink: 0;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 200;
      line-height: 20px;
      -moz-box-flex: 1.3;
      display: inline-flex;
      width: 230px;
      text-align: left;

      .thumb-user {
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;
        margin-right: 15px;
        width: 39px;
        height: 39px;

        figure {
          box-sizing: border-box;
          color: rgb(51, 51, 51);
          display: block;
          font-family: "Montserrat";
          font-size: 14px;
          font-weight: 200;
          line-height: 20px;
          margin-bottom: 0px;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 0px;
          width: 100%;
          height: 100%;

          img {
            border-bottom-color: rgb(51, 51, 51);
            border-bottom-style: none;
            border-bottom-width: 0px;
            border-image-outset: 0 0 0 0;
            border-image-repeat: stretch stretch;
            border-image-slice: 100% 100% 100% 100%;
            border-image-source: none;
            border-image-width: 1 1 1 1;
            border-left-color: rgb(51, 51, 51);
            border-left-style: none;
            border-left-width: 0px;
            border-right-color: rgb(51, 51, 51);
            border-right-style: none;
            border-right-width: 0px;
            border-top-color: rgb(51, 51, 51);
            border-top-style: none;
            border-top-width: 0px;
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            display: block;
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: 200;
            height: 39px;
            line-height: 20px;
            max-width: 100%;
            vertical-align: middle;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
          }
        }
      }

      .last-user {
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        display: block;
        font-family: "Montserrat";
        font-size: 13px;
        font-weight: 200;
        line-height: 18.5667px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span.vermelho {
          box-sizing: border-box;
          color: rgb(166, 30, 87);
          display: block;
        }
      }
    }
  }
}

.reviews {
  .review-item {
    margin-bottom: 0px;

    .resume {
      p {
        box-sizing: border-box;
        color: #333333;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        word-wrap: break-word;
        height: 100px;
        margin-bottom: 15px;
        width: 315px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
