.row{ style: 'margin-top: 30px;' }
    .col-xs-12.col-md-offset-2.col-md-8
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400px", :src => "https://player.vimeo.com/video/271775140", :width => "100%"}