%div{:style => "background-color:#F3F3F3;"}
  .block-grid.mixed-two-up{:style => "Margin: 0 auto;min-width: 320px;max-width: 560px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"}
    %div{:style => "border-collapse: collapse;display: table;width: 100%;background-color:transparent;"}
      /[if (mso)|(IE)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#F3F3F3;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 560px;"><tr class="layout-full-width" style="background-color:transparent;">
      /[if (mso)|(IE)] <td align="center" width="373" style=" width:373px; padding-right: 0px; padding-left: 0px; padding-top:15px; padding-bottom:15px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
      .col.num8{:style => "display: table-cell;vertical-align: top;min-width: 320px;max-width: 368px;"}
        %div{:style => "background-color: transparent; width: 100% !important;"}
          / [if (!mso)&(!IE)]><!
          %div{:style => "border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:15px; padding-bottom:15px; padding-right: 0px; padding-left: 0px;"}
            / <![endif]
            /[if mso] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px;">
            %div{:style => "font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%;color:#8F8F8F; padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px;"}
              %div{:style => "font-size:12px;line-height:14px;color:#8F8F8F;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                %p{:style => "margin: 0;font-size: 12px;line-height: 14px"} Este é um e-mail automático. Não responda a esta mensagem, pois esta caixa de entrada não é monitorada.
                %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}

                  %br/
                %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}
                  Se precisar de ajuda ou quiser entrar em contato conosco, visite o nosso
                  = succeed "." do
                    %a{:href => "http://www.ciner.com.br/contacts/new", :rel => "noopener", :style => "color:#555555;color:#555555;color:#555555;text-decoration: underline;", :target => "_blank"} site
                %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}

                  %br/
                %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}
                  A utilização dos serviços e site Ciner está sujeita ao "
                  %a{:href => "http://www.ciner.com.br/contract", :rel => "noopener", :style => "color:#555555;color:#555555;color:#555555;color:#555555;color:#555555;text-decoration: underline;", :target => "_blank"}> Contrato e Termos de Uso
                  " e à "
                  %a{"data-mce-selected" => "1", :href => "http://www.ciner.com.br/privacy", :rel => "noopener", :style => "color:#555555;color:#555555;color:#555555;color:#555555;color:#555555;text-decoration: underline;", :target => "_blank"}> Política de Privacidade﻿
                  "
            /[if mso] </td></tr></table>
            / [if (!mso)&(!IE)]><!
          / <![endif]
      /[if (mso)|(IE)] </td><td align="center" width="187" style=" width:187px; padding-right: 10px; padding-left: 10px; padding-top:15px; padding-bottom:15px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
      .col.num4{:style => "display: table-cell;vertical-align: top;max-width: 320px;min-width: 184px;"}
        %div{:style => "background-color: transparent; width: 100% !important;"}
          / [if (!mso)&(!IE)]><!
          %div{:style => "border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:15px; padding-bottom:15px; padding-right: 10px; padding-left: 10px;"}
            / <![endif]
            %div{:align => "right", :style => "padding-right: 0px; padding-left: 35px; padding-bottom: 10px;"}
              %div{:style => "line-height:45px;font-size:1px"}
              %div{:style => "display: table; max-width:144px;"}
                /[if (mso)|(IE)] <table width="109" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 0px; padding-left: 35px; padding-bottom: 10px;"  align="right"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:109px;"><tr><td width="32" style="width:32px; padding-right: 10px;" valign="top">
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "32", :style => "border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 10px", :width => "32"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:align => "left", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle"}
                        %a{:href => "https://www.facebook.com/sejaciner/?ref=bookmarks", :target => "_blank", :title => "Facebook"}
                          %img{:alt => "Facebook", :src => attachments['facebook.png'].url, :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important", :title => "Facebook", :width => "32"}/
                        %div{:style => "line-height:5px;font-size:1px"}
                /[if (mso)|(IE)] </td><td width="32" style="width:32px; padding-right: 0;" valign="top">
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "32", :style => "border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 0", :width => "32"}
                  %tbody
                    %tr{:style => "vertical-align: top"}
                      %td{:align => "left", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle"}
                        %a{:href => "https://instagram.com/sejaciner", :target => "_blank", :title => "Instagram"}
                          %img{:alt => "Instagram", :src => attachments['instagram.png'].url, :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important", :title => "Instagram", :width => "32"}/
                        %div{:style => "line-height:5px;font-size:1px"}
                /[if (mso)|(IE)] </td></tr></table></td></tr></table>
            / [if (!mso)&(!IE)]><!
          / <![endif]
      /[if (mso)|(IE)] </td></tr></table></td></tr></table>
