- role = role

= link_to url_for([role, pm]) do
  .movie-poster-item{ style: 'width: 130px; float: left; margin-left: 10px; margin-right: 10px;'}
    .thumb
      = image_tag(pm.cover.url, class: "img-responsive")
