- role = role
- showcase_class ||= 'showcase-poster'

/ MOVIES THUMB
.col-xs-12{ class: showcase_class }
  .slider-frame
    .btn.prev
    .btn.next
    .slider-container
      - slider_movies.each do |pm|
        = render 'shared/home/showcase/item', role: role, pm: pm

/ MOVIES THUMB
