- role = role
- showcase_class ||= 'showcase-poster'
- background_color ||= 'parent'

/ MOVIES THUMB
.col-xs-12{ class: showcase_class }
  .slider-frame{ style: "background-color: #{background_color}" }
    .btn.prev
    .btn.next
    .slider-container
      - slider_movies.each do |pm|
        = render 'shared/home/showcase/item', role: role, pm: pm

/ MOVIES THUMB
