.bundle
log/*.log
*.log
log/
tmp/
.sass-cache/

*.orig

script/db
database.yml
redis.yml
recaptcha.yml

.DS_Store

/reports
coverage/
public/uploads
public/assets

dump.rdb
.rvmrc
.rspec

spec/reports

db/*.BACKUP
