.bundle
log/*.log
*.log
log/
tmp/
.sass-cache/

*.orig

script/db
database.yml
redis.yml
recaptcha.yml

.DS_Store

/reports
coverage/
public/uploads
public/assets
public/sitemap.xml.gz

dump.rdb
.rvmrc
.rspec

spec/reports

db/*.BACKUP

.byebug_history
dump*
public/system/

# Ignore application configuration
/config/application.yml
.vscode/*