.row
  .col-xs-12
    %form.form-criticas{:action => "#", :method => "POST"}
      .form-group.col-xs-12.col-sm-2
        Nome do filme
        %input#nome-filme.form-control{:name => "nome-filme", :placeholder => "Ex: Os Vingadores", :type => "text"}/
      .form-group.col-xs-12.col-sm-2
        Data de lançamento
        %select#filtrar-por.form-control{:name => "filtrar-por"}
          %option{:selected => "selected"} Janeiro
          %option{:value => ""} Fevereiro
          %option{:value => ""} Março
          %option{:value => ""} Abril
          %option{:value => ""} Maio
          %option{:value => ""} Junho
          %option{:value => ""} Julho
          %option{:value => ""} Agosto
          %option{:value => ""} Setembro
          %option{:value => ""} Outubro
          %option{:value => ""} Novembro
          %option{:value => ""} Dezembro
      .form-group.col-xs-12.col-sm-2
         
        %select#filtrar-por.form-control{:name => "filtrar-por"}
          %option{:selected => "selected"} 2016
          %option{:value => ""} 2015
          %option{:value => ""} 2014
          %option{:value => ""} 2013
      .form-group.col-xs-12.col-sm-2
        Nota Ciner
        %input#input-2.rating.hide.form-control{"data-max" => "5", "data-min" => "0", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number"}/
      .form-group.col-xs-12.col-sm-2
        Nota Assinante
        %input#input-2.rating.hide.form-control{"data-max" => "5", "data-min" => "0", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number"}/
      .form-group.col-xs-12.col-sm-2
         
        %button.form-control.btn.btn-filter{:type => "submit"}
          filtrar
          %svg.icon-botao
            %use{"xlink:href" => "#ico-botao", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
