- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

/ = render 'shared/breadcrumbs'

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#critica"}
          .media-body.media-bottom
            .media-heading.title-section
              = Critic.model_name.human(count: 2)

  = render 'shared/critics/toolbar', path: critics_path

  = render 'shared/critics/highlight_critic', critic: highlight, path: critic_path(highlight)

  .row
    - critics.each do |critic|
      = render 'shared/critics/critic', critic: critic, path: critic_path(critic)
