.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#critica"}
          .media-body.media-bottom
            .media-heading.title-section Críticas
    %form.form-criticas{:action => "#", :method => "POST"}
      .form-group.col-xs-12.col-sm-2
        Nome do filme
        %input#nome-filme.form-control{:name => "nome-filme", :placeholder => "Ex: Os Vingadores", :type => "text"}/
      .form-group.col-xs-12.col-sm-2
        Data de lançamento
        %select#filtrar-por.form-control{:name => "filtrar-por"}
          %option{:selected => "selected"} Janeiro
          %option{:value => ""} Fevereiro
          %option{:value => ""} Março
          %option{:value => ""} Abril
          %option{:value => ""} Maio
          %option{:value => ""} Junho
          %option{:value => ""} Julho
          %option{:value => ""} Agosto
          %option{:value => ""} Setembro
          %option{:value => ""} Outubro
          %option{:value => ""} Novembro
          %option{:value => ""} Dezembro
      .form-group.col-xs-12.col-sm-2
         
        %select#filtrar-por.form-control{:name => "filtrar-por"}
          %option{:selected => "selected"} 2016
          %option{:value => ""} 2015
          %option{:value => ""} 2014
          %option{:value => ""} 2013
      .form-group.col-xs-12.col-sm-2
        Nota Ciner
        %input#input-2.rating.hide.form-control{"data-max" => "5", "data-min" => "0", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number"}/
      .form-group.col-xs-12.col-sm-2
        Nota Assinante
        %input#input-2.rating.hide.form-control{"data-max" => "5", "data-min" => "0", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number"}/
      .form-group.col-xs-12.col-sm-2
         
        %button.form-control.btn.btn-filter{:type => "submit"}
          filtrar
          %svg.icon-botao
            %use{"xlink:href" => "#ico-botao", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
    .col-xs-12
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section Críticas recentes
  .row
    .col-xs-12.critica-mais-recente
      .col-xs-12.col-sm-4.col-md-2
        %img.img-responsive{:src => "http://placehold.it/250x300"}/
      .col-xs-12.col-sm-8.col-md-10.critica-recente
        .info
          Estreia:
          %span.bold.wine 12/05/2015
          Categoria:
          %a.bold.wine{:href => "#"} Suspense
          .pull-right
            %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "true", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "4"}/
        %h4.title Batman vs Superman
        %span.subtitle A origem da justiça
        %span.original-title (Batman Vs Superman: Dawn of Justice)
        .diretor-elenco
          Direção:
          %a.wine.bold{:href => "#"} Terrence Malick
          %br/
          Elenco:
          = succeed "," do
            %a.wine.bold{:href => "#"} Brad Pitt
          = succeed "," do
            %a.wine.bold{:href => "#"} Harison Ford
          %a.wine.bold{:href => "#"} Robert Downey Jr.
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, sed do eiusmod tempor incididunt ut labore et dolore magna.
        %a.btn.btn-saiba-mais{:href => "#"} Saiba mais
  .row
    .col-xs-12.col-sm-4.col-md-2.critica-item
      %img.img-responsive{:src => "http://placehold.it/250x300"}/
      .info
        %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "true", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "3"}/
        %h4.bold Batman vs Superman
        %span.subtitle A origem da justiça
        %span.original-title (Batman Vs Superman: Dawn of Justice)
    .col-xs-12.col-sm-4.col-md-2.critica-item
      %img.img-responsive{:src => "http://placehold.it/250x300"}/
      .info
        %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "true", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "4"}/
        %h4.bold Batman vs Superman
        %span.subtitle A origem da justiça
        %span.original-title (Batman Vs Superman: Dawn of Justice)
    .col-xs-12.col-sm-4.col-md-2.critica-item
      %img.img-responsive{:src => "http://placehold.it/250x300"}/
      .info
        %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "true", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "4.5"}/
        %h4.bold Batman vs Superman
        %span.subtitle A origem da justiça
        %span.original-title (Batman Vs Superman: Dawn of Justice)
    .col-xs-12.col-sm-4.col-md-2.critica-item
      %img.img-responsive{:src => "http://placehold.it/250x300"}/
      .info
        %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "true", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "2"}/
        %h4.bold Batman vs Superman
        %span.subtitle A origem da justiça
        %span.original-title (Batman Vs Superman: Dawn of Justice)
    .col-xs-12.col-sm-4.col-md-2.critica-item
      %img.img-responsive{:src => "http://placehold.it/250x300"}/
      .info
        %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "true", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "5"}/
        %h4.bold Batman vs Superman
        %span.subtitle A origem da justiça
        %span.original-title (Batman Vs Superman: Dawn of Justice)
    .col-xs-12.col-sm-4.col-md-2.critica-item
      %img.img-responsive{:src => "http://placehold.it/250x300"}/
      .info
        %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "true", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "3.5"}/
        %h4.bold Batman vs Superman
        %span.subtitle A origem da justiça
        %span.original-title (Batman Vs Superman: Dawn of Justice)
    .col-xs-offset-4.col-xs-4.margin-top-20
      .text-center
        %ul.pagination
          %li.active
            %a{:href => "#"} 1
          %li
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
          %li
            %a{:href => "#"} 4
          %li
            %a{:href => "#"} 5