- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

.container
  = render 'shared/breadcrumbs'

= render 'shared/ciner_videos/show', ciner_video: ciner_video, current_critics_path: platform_critics_path
