- if params[:user] && !params[:user][:role].blank?
  - chosen_plan = params[:user][:role]
- else
  - chosen_plan = ''

.row
  .col-xs-12.col-sm-4.col-table{"data-mh" => "seja-ciner"}
    .col-table-cell.text-center
      %h2.bold.wine.titulo-seja-ciner
        SOBRE
        %br/
        SER
        %br/
        CINER
  .col-xs-12.col-sm-7{"data-mh" => "seja-ciner"}
    %p
      Ciner é uma nova forma de se pensar Cinema. Mais do que isso,
      é um novo conceito para quem admira a Sétima Arte.
      Todos nós temos um pouco de Ciner.
      Gostamos de produzir, atuar, fotografar, opinar.
      Além dos grandes filmes, aqui você divulga seu trabalho e encontra
      produções de outros usuários, voltadas exclusivamente
      para o meio cinematográfico.
    %br/
    %p
      Para quem coleciona filmes, uma estante para catalogar,
      gerenciar ou simplesmente compartilhar sua coleção.
      %br/
      A cada semana novas críticas em destaque: uma análise da equipe CINER
      e outra dos críticos de plantão. Por que não a sua?
    %br/
    %p
      Mais do que saber as novidades do mundo do Cinema,
      aqui você faz parte dele.
    %br/
    %span.bold.wine
      Bem-vindo, CINER!
  - unless current_user
    .row
      .col-xs-12
        #mensal
          .hidden-xs
            .row
              .col-sm-offset-4.col-sm-4.promo-item
                .promo-top
                  %h5.tipo CINER
                .promo-bottom.col-table-gratis{"data-mh" => "promo"}
                  .col-table-cell
                    .gratis GRÁTIS
                .vantagem.wine.text-center.bold
                  VANTAGENS
                .vantagens
                  %span . Criar seu perfil com foto
                  %span . Avaliar filmes e séries
                  %span . Comentar filmes e séries
                  %span . Participar no Debate Ciner (Fórum)
                  %span . Acessar as críticas da Equipe CINER e críticas dos usuários
                  %span . Participar de promoções do site
                .vantagem.wine.text-center.bold
                  DIFERENCIAIS CINER
                .vantagens-extra
                  %span . Cadastrar seu currículo profissional
                  %span . Buscar currículos de profissionais do cinema
                  %span . Enviar críticas de filmes e séries
                  %span . Catalogar sua coleção virtual de DVD/Blu-ray
                  %span . Acessar a agenda dos eventos de cinema
                  %span . Cadastrar suas próprias produções cinematográficas
                .assine{ data: { choose_plan: '' } }
                  .btn.btn-assine{ style: 'border-bottom-color: rgba(0, 0, 0, 0.2); border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0; border-image-repeat: stretch stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; border-left-color: rgba(0, 0, 0, 0.2); border-left-style: solid; border-left-width: 1px; border-right-color: rgba(0, 0, 0, 0.2); border-right-style: solid; border-right-width: 1px; border-top-color: rgba(0, 0, 0, 0.2); border-top-left-radius: 4px; border-top-right-radius: 4px; border-top-style: solid; border-top-width: 1px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; margin-bottom: 0px; margin-top: 5px; overflow: hidden; overflow-x: hidden; overflow-y: hidden; padding-bottom: 6px; padding-left: 44px; padding-right: 12px; padding-top: 6px; position: relative; text-align: left; text-decoration: none; text-decoration-color: rgb(255, 255, 255); text-decoration-line: none; text-decoration-style: solid; text-overflow: ellipsis; touch-action: manipulation; vertical-align: middle; white-space: nowrap; width: 100%; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; -moz-user-select: none;' }
                    Cadastrar
                = link_to user_facebook_omniauth_authorize_path do
                  .btn.btn-block.btn-social.btn-lg.btn-facebook{ style: 'background-color: rgb(59, 89, 152); border-bottom-color: rgba(0, 0, 0, 0.2); border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0; border-image-repeat: stretch stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; border-left-color: rgba(0, 0, 0, 0.2); border-left-style: solid; border-left-width: 1px; border-right-color: rgba(0, 0, 0, 0.2); border-right-style: solid; border-right-width: 1px; border-top-color: rgba(0, 0, 0, 0.2); border-top-left-radius: 4px; border-top-right-radius: 4px; border-top-style: solid; border-top-width: 1px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; margin-bottom: 0px; margin-top: 5px; overflow: hidden; overflow-x: hidden; overflow-y: hidden; padding-bottom: 6px; padding-left: 44px; padding-right: 12px; padding-top: 6px; position: relative; text-align: left; text-decoration: none; text-decoration-color: rgb(255, 255, 255); text-decoration-line: none; text-decoration-style: solid; text-overflow: ellipsis; touch-action: manipulation; vertical-align: middle; white-space: nowrap; width: 100%; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; -moz-user-select: none;' }
                    %span.fa.fa-facebook{ style: 'border-right-color: rgba(0, 0, 0, 0.2); border-right-style: solid; border-right-width: 1px; bottom: 0px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: block; font-family: FontAwesome; font-feature-settings: normal; font-kerning: auto; font-language-override: normal; font-size: 22.4px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-variant-alternates: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-position: normal; font-weight: 400; left: 0px; line-height: 34px; position: absolute; text-align: center; text-rendering: auto; top: 0px; white-space: nowrap; width: 32px;' }
                    Cadastrar com o Facebook
          .hidden-sm.hidden-md.hidden-lg.hidden-xl
            .row
              .col-xs-12
                .promo-top
                  %h5.tipo
                    CINER
                .promo-bottom.col-table-gratis{"data-mh" => "promo"}
                  .col-table-cell
                    .gratis
                      GRÁTIS
                .vantagem.wine.text-center.bold
                  VANTAGENS
                .vantagens
                  %span . Criar seu perfil com foto
                  %span . Avaliar filmes e séries
                  %span . Comentar filmes e séries
                  %span . Participar no Debate Ciner (Fórum)
                  %span . Acessar as críticas da Equipe CINER e críticas dos usuários
                  %span . Participar de promoções do site
                .vantagem.wine.text-center.bold
                  DIFERENCIAIS CINER
                .vantagens-extra
                  %span . Cadastrar seu currículo profissional
                  %span . Buscar currículos de profissionais do cinema
                  %span . Enviar críticas de filmes e séries
                  %span . Catalogar sua coleção virtual de DVD/Blu-ray
                  %span . Acessar a agenda dos eventos de cinema
                  %span . Cadastrar suas próprias produções cinematográficas
                .assine{ data: { choose_plan: '' } }
                  .btn.btn-assine{ style: 'border-bottom-color: rgba(0, 0, 0, 0.2); border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0; border-image-repeat: stretch stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; border-left-color: rgba(0, 0, 0, 0.2); border-left-style: solid; border-left-width: 1px; border-right-color: rgba(0, 0, 0, 0.2); border-right-style: solid; border-right-width: 1px; border-top-color: rgba(0, 0, 0, 0.2); border-top-left-radius: 4px; border-top-right-radius: 4px; border-top-style: solid; border-top-width: 1px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; margin-bottom: 0px; margin-top: 5px; overflow: hidden; overflow-x: hidden; overflow-y: hidden; padding-bottom: 6px; padding-left: 44px; padding-right: 12px; padding-top: 6px; position: relative; text-align: left; text-decoration: none; text-decoration-color: rgb(255, 255, 255); text-decoration-line: none; text-decoration-style: solid; text-overflow: ellipsis; touch-action: manipulation; vertical-align: middle; white-space: nowrap; width: 100%; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; -moz-user-select: none;' }
                    Cadastrar
                = link_to user_facebook_omniauth_authorize_path do
                  .btn.btn-block.btn-social.btn-lg.btn-facebook{ style: 'background-color: rgb(59, 89, 152); border-bottom-color: rgba(0, 0, 0, 0.2); border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0; border-image-repeat: stretch stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; border-left-color: rgba(0, 0, 0, 0.2); border-left-style: solid; border-left-width: 1px; border-right-color: rgba(0, 0, 0, 0.2); border-right-style: solid; border-right-width: 1px; border-top-color: rgba(0, 0, 0, 0.2); border-top-left-radius: 4px; border-top-right-radius: 4px; border-top-style: solid; border-top-width: 1px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; margin-bottom: 0px; margin-top: 5px; overflow: hidden; overflow-x: hidden; overflow-y: hidden; padding-bottom: 6px; padding-left: 44px; padding-right: 12px; padding-top: 6px; position: relative; text-align: left; text-decoration: none; text-decoration-color: rgb(255, 255, 255); text-decoration-line: none; text-decoration-style: solid; text-overflow: ellipsis; touch-action: manipulation; vertical-align: middle; white-space: nowrap; width: 100%; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; -moz-user-select: none;' }
                    %span.fa.fa-facebook{ style: 'border-right-color: rgba(0, 0, 0, 0.2); border-right-style: solid; border-right-width: 1px; bottom: 0px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: block; font-family: FontAwesome; font-feature-settings: normal; font-kerning: auto; font-language-override: normal; font-size: 22.4px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-variant-alternates: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-position: normal; font-weight: 400; left: 0px; line-height: 34px; position: absolute; text-align: center; text-rendering: auto; top: 0px; white-space: nowrap; width: 32px;' }
                    Cadastrar com o Facebook
