- if params[:user] && !params[:user][:role].blank?
  - chosen_plan = params[:user][:role]
- else
  - chosen_plan = ''

.row
  .col-xs-12.col-sm-4.col-table{"data-mh" => "seja-ciner"}
    .col-table-cell.text-center
      %h2.bold.wine.titulo-seja-ciner
        SOBRE
        %br/
        SER
        %br/
        CINER
  .col-xs-12.col-sm-7{"data-mh" => "seja-ciner"}
    %p
      Ciner é uma nova forma de se pensar Cinema. Mais do que isso,
      é um novo conceito para quem admira a Sétima Arte.
      Todos nós temos um pouco de Ciner.
      Gostamos de produzir, atuar, fotografar, opinar.
      Além dos grandes filmes, aqui você divulga seu trabalho e encontra
      produções de outros usuários, voltadas exclusivamente
      para o meio cinematográfico.
    %br/
    %p
      Para quem coleciona filmes, uma estante para catalogar,
      gerenciar ou simplesmente compartilhar sua coleção.
      %br/
      A cada semana novas críticas em destaque: uma análise da equipe CINER
      e outra dos críticos de plantão. Por que não a sua?
    %br/
    %p
      Mais do que saber as novidades do mundo do Cinema,
      aqui você faz parte dele.
    %br/
    %span.bold.wine
      Bem-vindo, CINER!
  - unless current_user
    .col-xs-12.tab-content
      #mensal.tab-pane.active
        .row
          .col-xs-offset-2.col-xs-3.promo-item
            .promo-top
              %h5.tipo CINER
            .promo-bottom.col-table-gratis{"data-mh" => "promo"}
              .col-table-cell
                .gratis GRÁTIS
            .vantagem.wine.text-center.bold VANTAGENS
            .vantagens
              %span . Criar perfil com foto
              %span . Avaliar filmes e séries
              %span . Comentar filmes e séries
              %span . Participar no Debate Ciner (Fórum)
              %span . Acessar as críticas da Equipe CINER e críticas dos usuários
              %span . Participar de promoções do site
            .vantagem.wine.text-center.bold DIFERENCIAIS CINER
            .vantagens-extra
              %span . Cadastrar currículo profissional
              %span . Enviar críticas de filmes e séries
              %span . Coleção virtual de DVD/Blu-ray
            .assine{ data: { choose_plan: '', plan: 'Ciner' } }
              .btn.btn-assine
                = chosen_plan == 'classic' ? 'Escolhido' : 'SEJA CINER'
          .col-xs-offset-1.col-xs-3.promo-item
            .promo-top
              %h5.tipo CINER CULT
            .promo-bottom.col-table-gratis{"data-mh" => "promo"}
              .col-table-cell
                .gratis EM BREVE
            .vantagem.wine.text-center.bold VANTAGENS
            .vantagens
              %span . Criar perfil com foto
              %span . Avaliar filmes e séries
              %span . Comentar filmes e séries
              %span . Participar no Debate Ciner (Fórum)
              %span . Acessar as críticas da Equipe CINER e críticas dos usuários
              %span . Participar de promoções do site
            .vantagem.wine.text-center.bold DIFERENCIAIS CINER
            .vantagens-extra
              %span . Cadastrar currículo profissional
              %span . Enviar críticas de filmes e séries
              %span . Coleção virtual de DVD/Blu-ray
              / %span . Participar de promoções exclusivas
              / %span . Upload de vídeos cinematográficos ilimitados
              %span . Em breve
              %span . Em breve
            / .assine{ data: { choose_plan: '', plan: 'Ciner Cult' } }
            /   .btn.btn-assine
            /     = chosen_plan == 'cult' ? 'Escolhido' : 'ASSINE JÁ'
            .assine
              .btn.btn-assine{ style: 'cursor: not-allowed' }
                EM BREVE
