/ TODO: JS esta sendo printado duas vezes ver com PEDRO
- content_for :javascript, javascript_include_tag('views/shared/users/form')
- content_for :stylesheet, stylesheet_link_tag('views/shared/users/form')

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %i.fa.fa-id-card-o.fa-2x.wine
          .media-body.media-bottom{ style: 'padding: 10px' }
            .media-heading.title-section Seja Ciner

  .plans{ data: { plans: '' } }
    = render 'plans'

  - if !@user.name.blank? || (params[:user] && !params[:user][:role].blank?)
    - class_hidden = ''
  - else
    - class_hidden = 'hidden'

  .form{ class: class_hidden, data: { form: '' } }
    = render 'form'

= render 'modal'
