/ TODO: JS esta sendo printado duas vezes ver com PEDRO
/- content_for :javascript, javascript_include_tag('views/shared/users/form')
- content_for :stylesheet, stylesheet_link_tag('views/shared/users/form')

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %i.fa.fa-id-card-o.fa-2x.wine
          .media-body.media-bottom
            .media-heading.title-section Seja Ciner

  .plans{ data: { plans: '' } }
    = render 'plans'

  .form.hidden{ data: { form: '' } }
    = render 'form'

= render 'modal'
