/ REVIEWS
.col-xs-12.col-sm-12.col-md-4.col-lg-4{ style: 'margin-top: -5px;' }
  .title-separator.ciner-review
    .media
      .media-left.media-middle{ style: 'width: 30px; height: 30px;' }
        %svg.icon-title{ style: 'width: 25px; height: 25px;' }
          %use{"xlink:href" => "#critica"}
      .media-body.media-bottom
        .media-heading.title-section
          Críticas
      .media-body.text-right.media-middle.see-more
        = link_to url_for([role, :critics]) do
          = t('see_more')
  .reviews
    .row
      - critics.each do |critic|
        - if critic
          = render 'shared/home/critics/item', critic: critic, role: role
