- filmable = critic.filmable
- cover = image_default_path(filmable.cover.mini, "movie")

.review-item.col-xs-12.col-sm-6
  .movie-poster-item{ style: 'width: 100%; margin-bottom: 10px; max-height: 250px' }
    .thumb
      = link_to url_for([role, critic]) do
        = image_tag(cover, class: "img-responsive", style: 'margin-right: 0px; margin-left: 0px; width: 100%; height: 250px')
  / .critic-content{ style: 'display:inline; float: left; width: 60%; padding-top: 0px; margin-top: -12px;' }
  /   = link_to url_for([role, critic]) do
  /     %h4
  /       = filmable.title_str
  /   %span.original-title
  /     = filmable.original_title
  /   .resume
  /     %p
  /       = critic.content.gsub(/\n/, '<br/>').html_safe
  /   %p
  /     = link_to url_for([role, critic.user]) do
  /       = critic.user_nickname
  /     em
  /     = critic.date_str
