.col-xs-12.col-sm-12.col-md-5.col-lg-4
  .section-news
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          .icon-title
            %img.img-responsive{ src: image_path("icons/ico_events.png"), style: 'width: 30px; height: 30px;' }
        .media-body.media-bottom
          .media-heading.title-section
            Agenda Ciner
        .media-body.text-right.media-middle.see-more
          = link_to url_for([role, :events]) do
            = t('see_more')

    - if events.any?
      - events.each do |event|
        = render 'shared/home/events/item', event: event, role: role
    - else
      = render 'shared/alerts/info', message: (t('empty', klass: Event.model_name.human(count: 2)))
