.section-news
  .title-separator.ciner-news
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#noticia"}
      .media-body.media-bottom
        .media-heading.title-section Agenda Ciner
      .media-body.text-right.media-middle
        = link_to url_for([role, :events])
          = t('see_more')
  / POSTS ITEMS
  - events.each do |event|
    = render 'shared/home/events/item', event: event, role: role

  / POSTS ITEMS
