%h3
  CONTRATO E TERMOS DE USO

%p
  Última atualização: 28/12/2017

%p
  POR FAVOR, LEIA ESSE DOCUMENTO CUIDADOSAMENTE E COM ATENÇÃO.

%p.bold
  1. ACEITAÇÃO
%p
  CINER ou Ciner oferece uma plataforma de partilha de vídeos cinematográficos, coleções e currículos on-line, conteúdos, informações, críticas e opiniões sobre filmes e séries, através do seu site localizado em http://www.ciner.com.br e outros sites CINER \- aplicativos móveis, 'Embeddable Player' do CINER, 'Uploader' do CINER, todos os produtos, programas e outros serviços on-line, coletivamente formando os Serviços CINER. Ao registrar-se como membro ou usando os Serviços CINER de qualquer forma, você aceita este 'Contrato e Termos de Uso', que constitui um acordo vinculativo entre você e o CINER. Se você não quiser ficar vinculado a este 'Contrato e Termos de Uso', não deverá utilizar os Serviços CINER. Nada neste 'Contrato e Termos de Uso' será tido como concessão de quaisquer direitos ou benefícios a terceiros.
%p.bold
  1.1 MODIFICAÇÕES
%p
  O CINER pode, a seu exclusivo critério, modificar ou revisar este 'Contrato e Termos de Uso' a qualquer tempo e sem aviso. Um 'Contrato e Termos de Uso' revisado e assinado por um representante autorizado do CINER ​​terá validade a partir da data em que for publicado no site CINER e você concorda em cumprir tais modificações ou revisões. O uso dos Serviços CINER por você após qualquer aditamento ao 'Contrato e Termos de Uso' implicará o consentimento e a aceitação dos termos aditados.
%p.bold
  1.2 INFORMES SOBRE ATUALIZAÇÕES
%p
  Embora o CINER se esforce para avisar você sobre qualquer mudança importante realizada neste 'Contrato e Termos de Uso', é sua a responsabilidade em reler este 'Contrato e Termos de Uso' periodicamente para verificar a ocorrência de qualquer alteração em http://www.ciner.com.br/termos.
%p.bold
  1.3 LOCALIZAÇÃO E LEGISLAÇÃO APLICÁVEL
%p
  O site, aplicativo e outros serviços são controlados e oferecidos pelo CINER a partir de suas instalações no Brasil. O CINER não garante que sejam apropriados ou estejam disponíveis para uso em outros locais. As pessoas que acessam ou usam os Serviços CINER a partir de outras jurisdições o fazem por conta própria e são responsáveis pelo cumprimento das leis regionais/nacionais.
%p
  O presente Acordo será regido pelas leis do Estado de São Paulo, República Federativa do Brasil, sem levar em conta os princípios de conflitos de lei. A Convenção de Viena das Nações Unidas sobre Contratos de Compra e Venda Internacional de Mercadorias não se aplica.

%p.bold
  2. QUEM PODE SER CINER
%p.bold
  2.1 IDADE MÍNIMA
%p
  Não há idade mínima para se cadastrar. Você afirma ser plenamente capaz de consentir com os termos, condições, obrigações, afirmações, representações e garantias descritas neste 'Contrato e Termos de Uso', obedecê-los e cumpri-los. Se você for menor de idade não emancipado, você deve solicitar autorização e estar de posse de autorização legal dos seus pais, tutores ou do seu responsável legal para usar os Serviços CINER. Por favor, leia os termos deste 'Contrato e Termos de Uso' com ele.
%p.bold
  2.2 INFORMAÇÕES AOS RESPONSÁVEIS LEGAIS
%p
  Ao autorizar o uso dos Serviços CINER pelo menor de idade, você concorda com os termos deste 'Contrato e Termos de Uso' em nome da sua criança. Você é responsável pelo acompanhamento e supervisão do menor de idade no uso dos Serviços CINER. Se a criança está usando os Serviços CINER e não tem a sua permissão, por favor contate-nos imediatamente para que possamos desativar o seu acesso. Se você tiver dúvidas sobre se os Serviços CINER são apropriados para o menor de idade, consulte nossas 'Perguntas Frequentes' ou entre em contato conosco em http://www.ciner.com.br/contato.
%p.bold
  2.3 ATENÇÃO
%p
  Mesmo se você tiver idade suficiente para usar os Serviços CINER ou se for menor emancipado, ou tem autorização do seu responsável legal, alguns dos conteúdos, tais como vídeos, imagens e textos, disponíveis nos Serviços CINER podem não ser adequados para você, por apresentar dizeres ou imagens impróprias para menores de 18 anos. Se você não possuir 18 anos completos, não veja tal conteúdo.

%p.bold
  3. SERVIÇOS CINER
%p.bold
  3.1 CONTEÚDO
%p
  Este 'Contrato e Termos de Uso' se aplica a todos os usuários dos Serviços CINER, inclusive os usuários que também contribuem com Conteúdo. 'Conteúdo' inclui texto, programas, scripts, gráficos, fotos, sons, músicas, vídeos, combinações audiovisuais, recursos interativos, dados e outros materiais que você pode ver, ter acesso, ou contribuir para os Serviços CINER.
%p.bold
  3.2 SITES DE TERCEIROS
%p
  Os Serviços CINER podem conter links para sites de terceiros que não pertencem nem são controlados pelo CINER. O CINER não tem controle e não assume responsabilidade pelo conteúdo, políticas de privacidade ou práticas de qualquer site de terceiros. Além disso, o CINER não pode e não vai censurar nem editar o conteúdo de qualquer site de terceiros. Ao usar os Serviços CINER, você expressamente isenta o CINER de toda e qualquer responsabilidade derivada do seu uso de qualquer site de terceiros. Consequentemente, aconselhamos você a ter ciência e ler os termos e condições e a política de privacidade de todos os outros sites que você visitar.

%p.bold
  4. CONTAS CINER
%p.bold
  4.1 REGISTRO
%p
  Para acessar alguns conteúdos e utilizar plenamente os Serviços CINER, você deve se registrar como um membro, criando uma conta CINER. Você deve fornecer informações completas e precisas de registro para o CINER e notificar-nos se houver alguma alteração nas informações. Se você é uma empresa privada, pública ou uma entidade sem fins lucrativos, a pessoa cujo endereço de e-mail está associado com a conta deve ter a autorização para vincular a entidade a este 'Contrato e Termos de Uso'.
%p.bold
  4.2 USO E SEGURANÇA DA CONTA
%p
  Você jamais poderá usar a conta de outro usuário com ou sem permissão. Você é o único responsável pela atividade que ocorre em sua conta, e você deve guardar a senha de sua conta em local seguro. Você deve notificar o CINER imediatamente sobre qualquer violação de segurança ou uso não autorizado de sua conta. Você é responsável por toda a atividade que ocorre em sua conta. Você não deve permitir que outros usem suas credenciais de conta e deve proteger a confidencialidade dessas credenciais. Se você estiver usando um computador público ou que outras pessoas têm acesso, é necessário fazer logout na sua conta depois de usar os Serviços CINER. Se você tiver conhecimento de um acesso não autorizado à sua conta, você deve alterar sua senha e notificar-nos imediatamente através do endereço http://www.ciner.com.br/contato.
%p.bold
  4.3 NOME DE USUÁRIO
%p
  O CINER encoraja você a usar seu nome real. Se você é uma empresa privada, pública ou uma entidade sem fins lucrativos, você deve usar o nome real da sua organização. O CINER não se responsabiliza pela veracidade dos dados informados pelo futuro membro no momento do cadastro. Você não pode usar o nome de outra pessoa, um nome que viole qualquer direito de terceiros ou um nome obsceno ou censurável.
%p.bold
  4.4 RESPONSABILIDADE
%p
  Embora o CINER não seja responsável por qualquer perda causada a você pelo uso de sua conta por terceiros, você poderá ser responsabilizado pelas perdas do CINER ou de outros oriundas de tal uso indevido.

%p.bold
  5. SERVIÇOS CINER
%p.bold
  5.1 CURRÍCULO PROFISSIONAL
%p
  Ferramenta CINER de Banco de Dados de currículos de atores e atrizes, roteiristas, diretores, produtores, diretores de fotografia, diretores de som, editores, músicos e outras funções do meio cinematográfico. Todos os usuários dos Serviços CINER podem buscar um currículo ou cadastrar um currículo profissional. Ao preencher e divulgar seu currículo, você declara ter lido nossa 'Política de Privacidade'. Se você tiver dúvidas sobre o Currículo Profissional, consulte nossas 'Perguntas Frequentes' ou entre em contato conosco em http://www.ciner.com.br/contato.
%p
  O CINER não se responsabiliza pelas informações contidas nos Currículos Profissionais. Quando um usuário está interessado no trabalho de um profissional, este recebe uma notificação e um email onde constará o email do interessado. A partir deste momento, o contato entre as partes se dará por conta própria, sem intermédio do CINER e o CINER não se responsabiliza por eventuais danos financeiros e morais decorrentes deste contato. O CINER não recebe qualquer quantia pelo envio da notificação, nem tampouco realiza serviço de intermediação de quaisquer negócios.
%p.bold
  5.2 CRÍTICAS
%p.bold
  5.2.1 Críticas CINER
%p
  Periodicamente serão publicadas críticas da Equipe CINER. Todos os usuários dos Serviços CINER terão acesso permanente a estas publicações. As opiniões expressas são unicamente de responsabilidade dos autores dos textos.
%p.bold
  5.2.2 Críticas dos Ciners (Usuários)
%p
  Serviço no qual você poderá expor com clareza sua opinião sobre os filmes e séries favoritos ou não. Toda crítica enviada será analisada pela Equipe CINER quanto aos aspectos formais da língua portuguesa, sendo que a equipe CINER não se responsabiliza por críticas objeto de plágio. Se aprovada a crítica, ela será publicada no site. Você poderá postar somente uma crítica por filme e série. Não serão feitas correções gramaticais ou edições pela Equipe CINER. Desta forma, eventuais erros serão de sua responsabilidade e poderão, em casos com muitas falhas, causar a rejeição da publicação da crítica. As críticas deverão atender a seguinte norma: máximo de 10.000 caracteres, em português. Caso haja spoilers, todos os usuários deverão ser alertados. Assim, você deve clicar no botão 'Contém spoilers' no momento do envio da crítica. Críticas com spoilers sem aviso prévio não serão publicadas. As críticas devem ser originais e se concentrar no conteúdo, contexto do título e devem respeitar as diretrizes deste 'Contrato e Termos de Uso', acrescentando-se:
%p
  \- Não é o local apropriado para você avisar que há erro no banco dados ou problemas específicos (para isso, entre em contato em http://www.ciner.com.br/contato);
%p
  \- São proibidos comentários racistas e homofóbicos, profanações, obscenidades e propagandas (promoções, eventos);
%p
  \- São proibidos número de telefone, endereço de email, links e quaisquer redes sociais;
%p
  \- São proibidos conteúdos extensos em outros idiomas;
%p
  \- Não é permitido deixar linhas em branco;
%p
  \- É proibido plágio;
%p
  \- Não é permitido escrever a crítica inteira em caixa alta.
%p
  Além disso, a Equipe CINER se reserva o direito de não publicar uma crítica por qualquer motivo, que será justificado e explicado ao usuário. Todas as críticas enviadas tornam-se propriedade licenciada do CINER, conforme estabelecido na nossa 'Política de Privacidade'. A crítica enviada será normalmente analisada pela Equipe CINER no prazo de até 07 (sete) dias corridos, salvo caso fortuito, força maior, ou qualquer outro evento imprevisto que justificadamente impeça o cumprimento deste prazo. Se você tiver dúvidas sobre as Críticas, consulte nossas 'Perguntas Frequentes' ou entre em contato conosco em http://www.ciner.com.br/contato.
%p.bold
  5.3 COLEÇÃO VIRTUAL
%p
  Ferramenta CINER que permite ao usuário gerenciar sua própria coleção, sendo possível informar a mídia que possui (VHS, DVD, Blu-ray ou digital) e a versão (Simples, Duplo, de Colecionador ou Comemorativa). Você poderá ordenar sua coleção, além de organizar manualmente, deixando seus filmes e séries favoritos em evidência. Sua coleção poderá ser visualizada por todos os usuários dos Serviços CINER ao acessar seu Perfil Ciner, conforme estabelecido na nossa 'Política de Privacidade'. Mas você também pode bloquear a divulgação, editando a 'Privacidade de Coleção'. Através desta ferramenta virtual, você poderá gerenciar e controlar sua coleção. Se você tiver dúvidas sobre a Coleção Virtual, consulte nossas 'Perguntas Frequentes' ou entre em contato conosco em http://www.ciner.com.br/contato.
%p.bold
  6. LICENÇA DE USO DOS SERVIÇOS CINER
%p.bold
  6.1 LICENÇA
%p
  O CINER lhe concede uma autorização limitada, não exclusiva, para acessar e usar os Serviços CINER para fins pessoais ou comerciais. Isso inclui o direito de exibir o conteúdo disponível nos Serviços CINER. Esta autorização é pessoal e não pode ser cedida ou sublicenciada a mais ninguém. Se você utilizar o 'Embeddable Player' em seu site, você não poderá modificar, ampliar ou bloquear qualquer parte ou funcionalidade do 'Embeddable Player', incluindo, mas não se limitando ao link para o site do CINER. Se você usar o 'Uploader' do CINER, você concorda que esse dispositivo poderá automaticamente baixar e instalar atualizações periódicas do CINER. Essas atualizações são concebidas para melhorar, aperfeiçoar e desenvolver o 'Uploader' e poderá fazer correções de bugs, funções melhoradas, módulos de novos programas e versões completamente novas. Você concorda em receber essas atualizações (e permitir que o CINER as envie para você) como parte de seu uso do 'Uploader'. Ao utilizar os Serviços CINER, você deverá cumprir com todas as leis e regulamentos aplicáveis, sejam regionais, nacionais ou internacionais. O CINER se reserva o direito de descontinuar qualquer aspecto dos Serviços CINER a qualquer tempo.
%p.bold
  6.2 USO COMERCIAL
%p
  Você pode utilizar os Serviços CINER para fins comerciais e não comerciais, desde que cumpram com este 'Contrato e Termos de Uso'. Você concorda em não usar os Serviços CINER para quaisquer dos seguintes usos comerciais, a menos que obtenha a aprovação prévia por escrito do CINER:
%p
  \- a venda de acesso aos Serviços CINER;
%p
  \- a venda de publicidade, patrocínios ou promoções vinculando os Serviços CINER ou o Conteúdo;
%p
  Usos comerciais proibidos não incluem:
%p
  \- submeter um vídeo original no CINER para promover seu negócio cinematográfico ou empreendimento artístico;
%p
  \- mostrar vídeos do CINER através de 'Embeddable Player' em um blog ou site com anúncio habilitado, sem prejuízo das restrições à publicidade acima estabelecidos;
%p
  \- qualquer uso que o CINER expressamente autorize por escrito.
%p.bold
  6.3 RESTRIÇÕES
%p
  Exceto quando expressamente permitido pelo CINER, por escrito:
%p
  \- Você não pode reproduzir, redistribuir, vender, criar trabalhos derivados, descompilar, fazer engenharia reversa ou desmontar os Serviços CINER ou qualquer código-fonte nele contido;
%p
  \- Você concorda em não distribuir para/por qualquer meio qualquer parte dos Serviços CINER ou do Conteúdo, a menos que o CINER disponibilize os meios de distribuição, através de funcionalidades oferecidas pelos Serviços CINER (como 'Embeddable Player');
%p
  \- Você concorda em não alterar, nem modificar qualquer parte dos Serviços CINER;
%p
  \- Você concorda em não acessar o Conteúdo através de qualquer tecnologia ou outros meios que não sejam as páginas de exibição de vídeos dos próprios Serviços CINER, o 'Embeddable Player' ou outro meio expressamente autorizado que o CINER possa indicar.
%p
  Também não é permitido tentar contornar qualquer uma das medidas técnicas do CINER ou tomar quaisquer medidas para interferir ou danificar os Serviços CINER. Todos os direitos não concedidos expressamente pelo CINER são reservados. Você concorda em não usar ou lançar qualquer sistema automatizado, inclusive, mas sem se limitar a 'robôs', 'spiders' ou 'offline readers', que acessem os Serviços CINER de maneira a enviar mais mensagens de solicitações aos servidores do CINER em um dado período de tempo do que seja humanamente possível responder no mesmo período através de um navegador convencional. Não obstante o acima exposto, o CINER concede permissão aos operadores de mecanismos públicos de busca para usar 'spiders' para copiar materiais do site com a única finalidade de, e exclusivamente na medida do necessário, criar e disponibilizar índices públicos de materiais pesquisáveis, mas não caches ou arquivos de tais materiais. O CINER se reserva o direito de revogar estas exceções tanto de forma geral ou em casos específicos. Você concorda em não coletar nem colher qualquer informação pessoal, incluindo nomes de conta dos Serviços CINER, nem utilizar os sistemas de comunicação fornecidos pelos Serviços CINER para fins de solicitação comercial.

%p.bold
  7. USO DO CONTEÚDO
%p
  Além das restrições gerais acima expostas, as seguintes restrições e condições se aplicam especificamente ao uso do Conteúdo:
%p
  \- O Conteúdo dos Serviços CINER e as marcas registradas, marcas de serviço e logos ('Marcas') nos Serviços CINER, são de propriedade ou licenciadas para o CINER, sob reserva de direitos autorais e outros direitos de propriedade intelectual nos termos da lei;
%p
  \- O Conteúdo é oferecido a você NO ESTADO EM QUE SE ENCONTRA. Você pode acessar o Conteúdo para sua informação e uso pessoal exclusivamente dentro da funcionalidade fornecida pelos Serviços CINER e, conforme permitido neste 'Contrato e Termos de Uso'. Você não poderá baixar qualquer conteúdo, a menos que você veja um 'download' ou por um link similar exibido pelo CINER nos Serviços CINER para esse Conteúdo. Você não poderá copiar, reproduzir, distribuir, transmitir, exibir, vender, licenciar ou explorar qualquer Conteúdo para quaisquer outros fins sem o prévio consentimento escrito do CINER ou os licenciadores do respectivo Conteúdo. O CINER e os seus licenciadores reservam todos os direitos que não estejam expressamente cedidos no e para os Serviços CINER e para o Conteúdo;
%p
  \- O usuário concorda em não fraudar, desativar ou de qualquer forma interferir em características relacionadas à segurança dos Serviços CINER ou características que evitem ou restrinjam o uso ou a cópia de qualquer Conteúdo ou imponham limitações sobre o uso dos Serviços CINER ou de seu Conteúdo;
%p
  \- Você entende que ao utilizar os Serviços CINER, você estará exposto ao Conteúdo de diversas fontes, e que o CINER não se responsabiliza pela precisão, utilidade, segurança ou propriedade intelectual próprias ou relacionadas a esse Conteúdo. Você compreende e aceita que poderá estar exposto a Conteúdo que seja impreciso, ofensivo, indecente ou censurável, e você concorda em renunciar, como o faz de fato, a qualquer direito ou indenização legal ou justa, presente ou futura, contra o CINER em relação a esses temas, e na medida do permitido por lei, concorda em indenizar e isentar o CINER, seus Proprietários, Operadores, afiliadas, licenciadores e licenciados, na medida máxima permitida por lei, em relação a todos os assuntos relativos ao uso dos Serviços CINER.
%p.bold
  7.1 RESTRIÇÕES DE CONTEÚDO
%p
  Você não pode fazer upload, publicar ou transmitir (coletivamente, 'enviar') qualquer vídeo, imagem, texto, gravação de áudio ou outro trabalho que:
%p
  \- Infringe os direitos autorais de terceiros ou outros direitos (por exemplo, marcas comerciais, direitos de privacidade, etc.);
%p
  \- Contém conteúdo sexualmente explícito ou pornografia (no entanto, nudez não sexual é permitida);
%p
  \- Contém conteúdo agressivo, difamatório ou discriminatório ou incitem ao ódio contra qualquer indivíduo ou grupo;
%p
  \- Explora menores;
%p
  \- Retrata atos ilícitos ou de extrema violência;
%p
  \- Retrata a crueldade animal ou violência extrema para com os animais;
%p
  \- Promove esquemas de negócios fraudulentos ou duvidosos; ou
%p
  \- Viole qualquer lei.
%p
  Todo Conteúdo que você enviar deve respeitar as diretrizes deste 'Contrato e Termos de Uso'.

%p.bold
  8. PRIVACIDADE
%p
  Seus direitos de privacidade são estabelecidos em nossa 'Política de Privacidade', que faz parte do presente 'Contrato e Termos de Uso'. Por favor, reveja a 'Política de Privacidade' para saber mais sobre:
%p
  \- Quais são as informações que podemos coletar sobre você;
%p
  \- Para que e como usamos essas informações;
%p
  \- Com quem compartilhamos essas informações.

%p.bold
  9. CÓDIGO DE CONDUTA
%p
  Como titular de uma conta CINER você pode enviar Conteúdo para os Serviços CINER, incluindo vídeos e comentários. Você compreende que o CINER não garante a confidencialidade em relação a qualquer Conteúdo que você enviar. Você será o único responsável por seu Conteúdo e pelas consequências de enviá-lo ou publicá-lo. Você afirma, declara e garante que possui ou tem as licenças necessárias, direitos, autorizações e permissões para publicar o Conteúdo que você enviar, e você autoriza o CINER a usar todas as patentes, marcas registradas, segredos de negócio, direitos autorais ou outros direitos de propriedade e tais Conteúdos para a publicação nos Serviços CINER de acordo com este 'Contrato e Termos de Uso'. Para fins de esclarecimento, você mantém todos os direitos de propriedade sobre seu Conteúdo. Entretanto, ao enviar o Conteúdo ao CINER, você, pelo presente, cede ao CINER licença mundial, não exclusiva, isenta de royalties, passível de ser sublicenciada e transferida, para usar, reproduzir, distribuir, preparar trabalhos derivados, exibir e executar o Conteúdo em conexão com os Serviços CINER e CINER (e de seus sucessores e afiliadas), inclusive, mas sem se limitar a atividades de promoção e redistribuição parcial ou total dos Serviços CINER (e trabalhos derivados) em qualquer formato de mídia e através de qualquer canal de mídia. Você também cede a todos os usuários dos Serviços CINER uma licença não exclusiva para acessar o seu Conteúdo por meio dos Serviços CINER, e para usar, reproduzir, distribuir, exibir e executar tal Conteúdo conforme permitido pela funcionalidade dos Serviços CINER e de acordo com este 'Contrato e Termos de Uso'. As licenças dos Conteúdos de Vídeos cedidas por você para os Serviços CINER irão encerrar dentro de um tempo comercialmente razoável após a remoção ou exclusão dos Vídeos a partir dos Serviços CINER. As licenças acima, cedidas por você em relação aos Comentários que você enviar, são permanentes e irrevogáveis. Você afirma que não enviará material protegido por direitos autorais, por segredo de negócio ou de qualquer outra forma protegido por direitos de terceiros, a menos que você tenha permissão do legítimo proprietário do material ou caso você esteja legalmente autorizado a publicar o material e ceder ao CINER todos os direitos de licença aqui concedidos. Adicionalmente, você também concorda que não irá submeter nos Serviços CINER qualquer Conteúdo ou outro material que seja contrário a este 'Contrato e Termos de Uso', que poderá ser atualizado de tempos em tempos, ou que sejam contrárias às leis e regulamentos locais, nacionais e internacionais. O CINER não endossa qualquer Conteúdo enviado para os Serviços CINER por qualquer usuário ou licenciante ou qualquer opinião, recomendação ou conselho ali expresso, e o CINER renuncia expressamente toda e qualquer responsabilidade ligada ao Conteúdo. O CINER não permite atividades que violem os direitos autorais, nem os direitos de propriedade intelectual em seus Serviços CINER, e o CINER removerá todo o Conteúdo quando devidamente notificado de que tal Conteúdo infringe o direito de propriedade intelectual de qualquer outra pessoa. O CINER se reserva o direito de remover o Conteúdo sem prévio aviso.
%p
  Ao usar os Serviços CINER, você deve se comportar de maneira civilizada e respeitosa em todos os momentos. Além disso, não irá:
%p
  \- Agir de forma enganosa e, entre outras coisas, fingir ser outra pessoa;
%p
  \- Assediar ou perseguir qualquer outra pessoa;
%p
  \- Prejudicar ou explorar menores;
%p
  \- Enviar e espalhar 'spam';
%p
  \- Coletar informações sobre outros; ou
%p
  \- Anunciar ou solicitar a outras pessoas que adquiram qualquer produto ou serviço dentro do site CINER (a menos que você seja um parceiro ou anunciante CINER oficial e tem um acordo escrito com o CINER).
%p
  O CINER tem o direito, mas não a obrigação, de monitorar toda conduta e conteúdo enviado aos Serviços CINER.

%p.bold
  10. MANUTENÇÃO DE CONTA
%p.bold
  10.1 ATIVAÇÃO DA CONTA
%p
  O presente 'Contrato e Termos de Uso' começa na data em que você usa pela primeira vez os Serviços CINER e continua enquanto você tem uma conta ATIVA conosco.
%p.bold
  10.2 EXCLUSÃO DE CONTA POR PARTE DO USUÁRIO
%p
  Você pode excluir sua conta a qualquer momento. Para excluir sua conta, acesse a página 'Sua conta' e siga as instruções de exclusão de conta.
%p.bold
  10.3 SUSPENSÃO E EXCLUSÃO DE CONTA POR PARTE DO CINER
%p
  O CINER pode suspender ou excluir a conta (ou qualquer parte dela) e o acesso do usuário dos Serviços CINER se, em circunstâncias adequadas, o usuário se mostrar um infrator contumaz. Infrator contumaz é o Usuário que foi notificado de sua atividade infratora mais que duas vezes. O CINER pode, também, bloquear ou remover qualquer conteúdo que você submeteu se o CINER determinar que você violou qualquer disposição do presente 'Contrato e Termos de Uso' ou se a sua conduta ou conteúdo enviado tenha causado prejuízos à reputação e boa vontade do CINER. O CINER se reserva o direito de decidir se o Conteúdo é apropriado e obedece a este 'Contrato e Termos de Uso' no que diz respeito a infrações outras que não as infrações ou violações das leis de direitos autorais, como por exemplo, mas sem se limitar, à pornografia, material obsceno ou difamatório (inclusive difamação, calúnia ou injúria). O CINER poderá a qualquer momento, sem aviso prévio e a seu exclusivo critério, remover tais Conteúdos e/ou excluir uma conta de usuário por enviar tais materiais que violam o 'Contrato e Termos de Uso'. Se o CINER excluir sua conta pelas razões expostas, você não pode se registrar novamente para os Serviços CINER. O CINER pode bloquear o seu endereço de e-mail, CPF e endereço de protocolo de Internet para impedir a inscrição.
%p.bold
  10.4 EFEITOS DA EXCLUSÃO DA CONTA
%p
  Após a exclusão da conta, todas as licenças e conteúdos concedidos pelo CINER vão terminar. Neste caso, o Conteúdo que você enviou pode não estar mais disponível. O CINER não será responsável pela perda de tal Conteúdo.

%p.bold
  11. LICENÇAS CONCEDIDAS POR VOCÊ
%p
  Você é o responsável por todo conteúdo não mencionado acima e que você enviar para os Serviços CINER, como críticas, currículo, comentários e outros. Você concede ao CINER e seus afiliados uma licença perpétua, irrevogável, não exclusiva, mundial, isenta de royalties e direitos de copiar, transmitir, distribuir, executar publicamente, exibir (através de todos os meios atualmente conhecidos ou futuramente criados) e fazer obras derivadas destes conteúdos. Além disso, você renuncia a quaisquer dos chamados 'direitos morais' em seus conteúdos. Você concede ainda a todos os usuários dos Serviços CINER a permissão para visualizar os conteúdos para os seus fins pessoais, não comerciais. Se você fizer sugestões para o CINER aperfeiçoar ou adicionar novos recursos aos Serviços CINER, o CINER terá o direito de usar as suas sugestões, sem qualquer compensação a você.

%p.bold
  12. SUAS DECLARAÇÕES E GARANTIAS
%p
  Para cada parte dos Conteúdos que você enviar, você é o representante e garante que:
%p
  \- tem o direito de apresentar o Conteúdo para o CINER e conceder as licenças estabelecidas acima;
%p
  \- o CINER não terá que obter licenças de terceiros ou pagar royalties a terceiros;
%p
  \- o conteúdo não viola os direitos de terceiros, incluindo direitos de propriedade intelectual e direitos de privacidade; e
%p
  \- o conteúdo está em conformidade com este 'Contrato e Termos de Uso' e todas as leis aplicáveis.

%p.bold
  13. INDENIZAÇÃO
%p
  Na medida do permitido pela lei aplicável, você concorda em defender, indenizar e isentar o CINER, sua controladora, seus afiliados, executivos, diretores, funcionários e representantes de toda e qualquer ação judicial, danos, obrigações, perdas, custos ou dívidas (inclusive, mas sem se limitar a honorários advocatícios) oriundos de:
%p
  \- uso e acesso aos Serviços CINER;
%p
  \- violação de qualquer cláusula deste 'Contrato e Termos de Uso';
%p
  \- violação de qualquer direito de terceiros, inclusive, mas sem se limitar a direitos autorais, de propriedade ou de privacidade; ou
%p
  \- qualquer alegação de que algum Conteúdo tenha causado dano a terceiros.
%p
  Tal obrigação de defesa e indenização subsistirá a este 'Contrato e Termos de Uso' e ao uso dos Serviços CINER.

%p.bold
  14. DIREITOS AUTORAIS E OUTROS DIREITOS
%p
  O CINER respeita os direitos de propriedade intelectual dos outros. Se você acredita que seus direitos foram violados, por favor entre em contato conosco como estabelecido na nossa Cláusula 14.1 LEI MILLENIUM (MILLENIUM ACT) DE AUTORIA DIGITAL. Para outras reivindicações de propriedade intelectual, por favor entre em contato conosco em http://www.ciner.com.br/contato.
%p.bold
  14.1 LEI MILLENIUM (MILLENIUM ACT) DE AUTORIA DIGITAL
%p
  Se você for detentor de direito autoral ou representante de um detentor de direito autoral e acredita que qualquer Conteúdo infringe seus direitos autorais, você poderá enviar uma notificação conforme a Lei Millenium de Autoria Digital (Digital Millennium Copyright Act \- 'DMCA'), fornecendo ao nosso Representante de Direitos Autorais as seguintes informações por escrito (veja 17 U.S. Code §512 (c)(3) para mais detalhes):
%p
  \- Assinatura física ou eletrônica da pessoa autorizada a agir em nome do proprietário do direito exclusivo supostamente infringido;
%p
  \- Identificação do trabalho protegido por direito autoral supostamente infringido, ou se vários trabalhos protegidos por direito autoral em um único site on-line forem incluídos em uma única notificação, enviar uma lista representativa de tais trabalhos naquele site;
%p
  \- Identificação do material supostamente infringido ou objeto de atividade infratora que deve ser removido, ou cujo acesso deve ser desativado, com informações razoavelmente suficientes para permitir ao provedor de serviço localizar o material;
%p
  \- Informações razoavelmente suficientes para permitir ao provedor de serviços contatá-lo, tais como endereço, número de telefone e, se possível, endereço eletrônico;
%p
  \- Declaração de que você acredita de boa-fé que o uso do material da forma reclamada não foi autorizado pelo detentor do direito autoral, por seu representante ou pela lei; e
%p
  \- Declaração de que a informação constante da notificação é precisa e, sob pena de sofrer as penalidades previstas na lei, de que você está autorizado a agir em nome do proprietário do direito exclusivo que está supostamente sendo infringido.
%p
  Você pode enviar notificações de infração para o nosso Agente DMCA no endereço R. Vitoriano dos Anjos, 434, CEP: 13041-317, Campinas/SP, aos cuidados dos administradores da empresa GARCIA & ABDALLA SOLUÇÕES CINEMATOGRÁFICAS LTDA.
%p
  Para efeito de esclarecimento, somente avisos de infração da lei DMCA devem ser enviados ao Representante de Direitos Autorais; qualquer outra sugestão, comentário, pedido de suporte técnico e outros assuntos devem ser enviados ao serviço ao consumidor do CINER pelo site http://www.ciner.com.br/contato. Você reconhece que, na hipótese do não cumprimento de todas as exigências descritas nesta Seção 14.1, sua informação relativa à DMCA e/ou a outras leis aplicáveis poderá não ser aceita.
%p.bold
  14.2 CONTRA-NOTIFICAÇÃO
%p
  Se você acredita que seu Conteúdo foi removido (ou cujo acesso foi desativado) não consiste em infração, ou que você tenha autorização do detentor dos direitos autorais, do representante do detentor ou nos termos da lei para enviar e usar o Conteúdo, você pode enviar uma contra notificação ao Representante de Direitos Autorais contendo as seguintes informações:
%p
  \- Assinatura física ou eletrônica;
%p
  \- Identificação do Conteúdo removido ou cujo acesso foi desativado e local onde o Conteúdo apareceu antes de ser removido ou desativado;
%p
  \- Declaração de que você acredita de boa-fé que o Conteúdo foi removido ou desativado em consequência de equívoco ou má interpretação do Conteúdo; e
%p
  \- Nome, endereço, número de telefone e endereço eletrônico, declaração de que se submete à jurisdição do tribunal federal de São Paulo, no Brasil, e declaração de que receberá entrega de citação da pessoa que apresentou a notificação sobre a suposta infração.
%p
  Se o Representante de Direitos Autorais receber uma contra notificação, o CINER poderá enviar uma cópia da contra notificação ao reclamante original informando que o Conteúdo removido poderá ser recolocado no site ou seu acesso reativado em 10 dias úteis. Se o detentor dos direitos autorais não ajuizar uma ação solicitando ordem judicial contra o provedor de serviços, membro ou usuário, o Conteúdo removido poderá ser recolocado, ou seu acesso restaurado, no prazo mínimo de 15 dias úteis após o recebimento da contra notificação, a critério exclusivo do CINER.

%p.bold
  15. AVISOS LEGAIS
%p
  O CINER reserva-se o direito de modificar o Serviços CINER. Você é responsável pelo seu próprio acesso (por computador, dispositivo móvel, acesso à Internet, etc.) aos Serviços CINER. O CINER não tem nenhuma obrigação de supervisionar nem monitorar qualquer Conteúdo e não garante que qualquer Conteúdo disponível nos Serviços CINER está em conformidade com este 'Contrato e Termos de Uso' ou é adequado para todos os usuários. O CINER fornece os Serviços CINER 'tal como está' e 'como disponível'. A utilização dos Serviços CINER se dá por sua conta e risco exclusivos, até o limite permitido por lei. O CINER, seus executivos, diretores, funcionários e representantes negam qualquer responsabilidade, expressa ou implícita, relacionada aos Serviços CINER e ao uso deles por você, bem como renunciam expressamente todas e quaisquer garantias de qualquer espécie, incluindo, mas não limitado às garantias implícitas de comercialização, adequação a uma finalidade específica, e qualquer outra garantia que possa surgir em qualquer lei. Sem limitar, o CINER não faz representações ou garantias:
%p
  \- De que os Serviços CINER serão permitidos em sua jurisdição;
%p
  \- De que os Serviços CINER serão ininterruptos ou livres de erros;
%p
  \- A respeito de qualquer conteúdo apresentado por qualquer membro ou usuário;
%p
  \- Relativo à utilização por terceiros de qualquer Conteúdo que você enviar;
%p
  \- De que qualquer Conteúdo que você enviar será disponibilizado nos Serviços CINER ou serão armazenadas pelo CINER;
%p
  \- De que os Serviços CINER vão atender às suas necessidades pessoais, empresariais ou profissionais;
%p
  \- De que o CINER vai manter e oferecer qualquer Conteúdo particular dos Serviços CINER; ou
%p
  \- No que diz respeito a sites e recursos externos aos Serviços CINER, mesmo se linkado a partir dos Serviços CINER.
%p
  Como se faz na compra de um produto ou serviço por qualquer meio ou em qualquer ambiente, você deve usar o bom senso e ser cauteloso sempre que for necessário.

%p.bold
  16. LIMITAÇÃO DE RESPONSABILIDADE
%p
  O CINER, seus executivos, diretores, funcionários e representantes não garantem e nem se responsabilizam pela precisão ou integralidade do Conteúdo de seu site ou do Conteúdo de qualquer site ligado ao seu, e não assumem qualquer obrigação ou responsabilidade por qualquer/quaisquer:
%p
  \- erros, equívocos ou imprecisões de Conteúdo;
%p
  \- danos pessoais ou materiais, de qualquer natureza, que resulte do seu acesso e do uso dos nossos Serviços CINER;
%p
  \- acesso ou uso de nossos servidores protegidos e/ou toda e qualquer informação pessoal e/ou financeira ali armazenada que não tenham sido autorizados;
%p
  \- interrupção ou cessação da transmissão de e para os nossos Serviços CINER;
%p
  \- bugs, vírus, Cavalos-de-Tróia ou afins que possam ser transmitidos para ou através dos nossos Serviços CINER por qualquer terceiro; e/ou
%p
  \- erros ou omissões em qualquer Conteúdo ou qualquer perda ou dano de qualquer natureza sofrido como resultado do uso de qualquer Conteúdo ou e-mail enviado, transmitido ou de outra forma disponibilizado através dos Serviços CINER, seja por responsabilidade, contrato, ofensa ou qualquer outra hipótese legal, e independentemente de a empresa ser alertada sobre a possibilidade de tais danos.
%p
  Na medida máxima permitida por lei:
%p
  \- O CINER não será responsável por quaisquer danos diretos, indiretos, incidentais, especiais, punitivos, imprevistos, consequentes ou exemplares, incluindo, mas não limitado a danos por perda de lucros, boa vontade, uso, dados ou outras perdas intangíveis; e
%p
  O CINER não garante, endossa, defende ou assume responsabilidade por qualquer produto ou serviço divulgado ou oferecido por terceiros através dos Serviços CINER ou de qualquer hyperlink dos Serviços CINER, ou exibido em qualquer banner ou outro tipo de publicidade. O CINER não participará nem será de nenhuma forma responsável por monitorar qualquer transação entre você e provedores terceirizados de produtos ou serviços. A limitação de responsabilidade acima descrita será aplicada na medida máxima permitida por lei na jurisdição competente. Você reconhece especificamente que o CINER não será responsabilizado pelo Conteúdo ou pela conduta difamatória, ofensiva ou ilegal de quaisquer terceiros e que o risco de prejuízo ou dano resultante dos mesmos recai inteiramente sobre você.

%p.bold
  17. DISPOSIÇÕES GERAIS
%p.bold
  17.1 DISPUTAS
%p
  Qualquer ação decorrente ou relacionada a este 'Contrato e Termos de Uso' ou à utilização dos Serviços CINER deve ser iniciada nos tribunais estaduais ou federais localizados no Estado de São Paulo, República Federativa do Brasil (e você concorda com a jurisdição dos tribunais). Em tais ações, o CINER e você renunciam irrevogavelmente qualquer direito a um julgamento por júri.
%p.bold
  17.2 INTERPRETAÇÃO; EXCLUSÃO
%p
  Os títulos são apenas para conveniência e não devem ser utilizados para interpretar os termos deste 'Contrato e Termos de Uso'. Se qualquer termo deste 'Contrato e Termos de Uso' for considerado inválido ou inexequível por qualquer tribunal de jurisdição competente, esse termo será excluído deste 'Contrato e Termos de Uso', não afetando a validade das cláusulas restantes, que permanecerão integralmente válidas e em vigor.
%p.bold
  17.3 SUCESSORES; CESSÃO
%p
  O presente 'Contrato e Termos de Uso' é vinculativo e reverterá em benefícios para ambas as partes e seus respectivos sucessores, herdeiros, executores, administradores, representantes pessoais e cessionários autorizados. Este 'Contrato e Termos de Uso' e quaisquer direitos e licenças concedidos de acordo com o presente não podem ser transferidos ou cedidos por você, mas podem ser transferidos pelo CINER sem qualquer restrição. Nenhum terceiro terá quaisquer direitos.
%p.bold
  17.4 AVISOS
%p
  Você concorda em receber todas as comunicações, incluindo avisos, acordos, divulgações ou outras informações do CINER eletronicamente. O CINER pode fornecer todas as comunicações por e-mail ou colocando-as nos Serviços CINER. Para mais informações relacionadas ao suporte, entre em contato conosco. Você pode enviar avisos de natureza jurídica para o CINER em http://www.ciner.com.br/contato. Nada aqui contido deve limitar o direito do CINER de se opor a intimações, reclamações ou outras demandas. Você concorda que:
%p
  \- a sede dos Serviços CINER será considerada exclusivamente aquela localizada em São Paulo; e
%p
  \- os Serviços CINER serão considerados um site passivo que não dá margem à jurisdição pessoal sobre o CINER, seja específica ou geral, em qualquer outro foro que não seja o de São Paulo.
%p
  Este 'Contrato e Termos de Uso' será regido pelas leis internas do Estado de São Paulo, República Federativa do Brasil, independentemente dos princípios de conflitos de leis. Qualquer reclamação ou controvérsia entre você e o CINER que decorra total ou parcialmente por causa dos Serviços CINER será dirimida exclusivamente por um tribunal competente localizado na cidade de Campinas, Estado de São Paulo. Você e o CINER concordam que qualquer ação judicial oriunda ou relacionada aos Serviços CINER deve ser iniciada em até 1 (um) ano após a ocorrência da causa. Do contrário, o direito prescreverá.
%p.bold
  17.5 ACORDO INTEGRAL
%p
  Este 'Contrato e Termos de Uso' incorpora os seguintes documentos por referência:
%p
  \- Perguntas Frequentes
%p
  \- Política de Privacidade
%p
  Este 'Contrato e Termos de Uso' constitui o entendimento entre o CINER e você relativo ao assunto em questão e substitui todos os acordos e entendimentos anteriores sobre o mesmo.
