.filtro
  Organizado por
  %select
    %option{:value => "Críticas mais úteis"} Críticas mais úteis
    %option{:value => "Críticas mais recentes"} Críticas mais recentes
    %option{:value => "Críticas com melhor avalição"} Críticas com melhor avaliação
