#comentarios.col-xs-12.comentarios
  .input-comentario
    .title-separator
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#comentario"}
        .media-body.media-bottom
          .media-heading.title-section Comentários
    %form{:action => "#", :method => "POST"}
      %textarea.form-control{:placeholder => "Deixe um comentário", :rows => "5"}
      .text-right{:style => "margin-top: 20px;"}
        %span.compartilha-comentario
          Compartilhe:
          %svg.icon-social
            %use{"xlink:href" => "#twitter"}
          %svg.icon-social
            %use{"xlink:href" => "#facebook"}
        %button.btn.btn-spoiler{:type => "submit"} spoiler
        %button.btn.btn-submit{:type => "submit"}
          enviar
          %svg.icon-botao
            %use{"xlink:href" => "#ico-botao", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  .lista-comentarios
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section 250 Comentários
    .filtro
      Organizado por
      %select
        %option{:value => "Críticas mais úteis"} Críticas mais úteis
        %option{:value => "Críticas mais recentes"} Críticas mais recentes
        %option{:value => "Críticas com melhor avalição"} Críticas com melhor avaliação
    .comentario-item
      .row
        .col-xs-12.col-sm-2
          .usuario-avatar
            - user_avatar = image_default_path(nil, "user")
            %img.img-responsive{:src => user_avatar, style: 'height: 120px; width: 170px'}/
          Chris Evans
          %br/
          Seguir
          %br/
          10 seguidores
          %br/
          Ler suas críticas
          %br/
        .col-xs-12.col-sm-10
          .status
            %span{:style => "display: inline-block; margin-right: 10px;"}
              = image_tag("rating.jpg", class: "img-responsive")
            %span{:style => "display: inline-block; margin-right: 5px;"}
              %svg.icon-comentario
                %use{"xlink:href" => "#clock"}
            sábado, 16 de janeiro de 2016
          .texto
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          .avaliacao-comentario.text-right
            .avaliacao-comentario.text-right
              %span.quantidade 15
              %svg.icon-comentario
                %use{"xlink:href" => "#dislike"}
              %span.quantidade 15
              %svg.icon-comentario
                %use{"xlink:href" => "#dislike"}
              %span.compartilha-comentario
                Compartilhe:
                %svg.icon-social
                  %use{"xlink:href" => "#twitter"}
                %svg.icon-social
                  %use{"xlink:href" => "#facebook"}
    .comentario-item
      .row
        .col-xs-12.col-sm-2
          .usuario-avatar
            - user_avatar = image_default_path(nil, "user")
            %img.img-responsive{:src => user_avatar, style: 'height: 120px; width: 170px'}/
          Chris Evans
          %br/
          Seguir
          %br/
          10 seguidores
          %br/
          Ler suas críticas
          %br/
        .col-xs-12.col-sm-10
          .status
            %span{:style => "display: inline-block; margin-right: 10px;"}
              = image_tag("rating.jpg", class: "img-responsive")
            %span{:style => "display: inline-block; margin-right: 5px;"}
              %svg.icon-comentario
                %use{"xlink:href" => "#clock"}
            sábado, 16 de janeiro de 2016
          .texto
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          .avaliacao-comentario.text-right
            %span.quantidade 15
            %svg.icon-comentario
              %use{"xlink:href" => "#dislike"}
            %span.quantidade 15
            %svg.icon-comentario
              %use{"xlink:href" => "#dislike"}
            %span.compartilha-comentario
              Compartilhe:
              %svg.icon-social
                %use{"xlink:href" => "#twitter"}
              %svg.icon-social
                %use{"xlink:href" => "#facebook"}
