- object = ciner_video
- role = role

#ficha-tecnica
  - if object.trailer
    .row
      .col-xs-12
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object{:style => "display: inline-block; width: 32px; height: 32px; vertical-align: middle;"}
                %use{"xlink:href" => "#video"}
            .media-body.media-bottom
              .media-heading.title-section
                = CinerVideo.human_attribute_name(:trailer)

    .row  
      .col-xs-12
        .ficha
          .info
            - if ciner_video.trailer.url
              %video{:controls => "", :height => "480", :width => "720"}
                %source{:src => ciner_video.trailer, :type => "video/mp4"}
                  Your browser does not support the video tag.

  - if object.media
    .row
      .col-xs-12
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object{:style => "display: inline-block; width: 32px; height: 32px; vertical-align: middle;"}
                %use{"xlink:href" => "#video"}
            .media-body.media-bottom
              .media-heading.title-section
                = CinerVideo.human_attribute_name(:media)

    .row
      .col-xs-12
        .ficha
          .info
            - if ciner_video.media.url
              %video{:controls => "", :height => "480", :width => "720"}
                %source{:src => ciner_video.media, :type => "video/mp4"}
                  Your browser does not support the video tag.