/ Modal
.modal.fade.videoModal{:role => "dialog", id: "myModal#{ciner_video.id}"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title.bold.wine
          = ciner_video.title_str
      .modal-body
        .embed-responsive.embed-responsive-16by9{:align => "center"}
          %video{:controls => "", :height => "240", :width => "100%"}
            %source{:src => ciner_video.media, :type => "video/mp4"}
              Your browser does not support the video tag.
      .modal-footer
        %ul{ style: 'padding: 0px; list-style-type: none;' }
          - if role == :admin
            %li{ style: 'float: left;', data: { change_status: '' } }
              %button.btn.btn-default{ style: 'float: left; margin-right: 5px;', data: { ciner_video_id: ciner_video.id } }
                = ciner_video.approved? ? 'Reprovar' : 'Aprovar'
          %li
            %button.btn.btn-default{style: 'float: right;', "data-dismiss" => "modal", :type => "button"}
              Fechar
