/ .col-xs-12
/   %form{:class => "form-debate",:action => "#", :method => "POST"}
/     .form-group.col-xs-12.col-sm-3
/       Escolher Área
/       %select#escolher-area.form-control{:name => "escolher-area"}
/         %option{:selected => "selected"} Mais comentados
/         %option{:value => ""} option
/         %option{:value => ""} option
/         %option{:value => ""} option
/     .form-group.col-xs-12.col-sm-3
/       Filtrar por
/       %select#filtrar-por.form-control{:name => "filtrar-por"}
/         %option{:selected => "selected"} Mais comentados
/         %option{:value => ""} option
/         %option{:value => ""} option
/         %option{:value => ""} option
/     .form-group.col-xs-12.col-sm-3
/       Classificar por
/       %select#classificar-por.form-control{:name => "classificar-por"}
/         %option{:selected => "selected"} Mais recente
/         %option{:value => ""} option
/         %option{:value => ""} option
/         %option{:value => ""} option
/     .form-group.col-xs-12.col-sm-2
/        
/       %button.form-control.btn.btn-filter{:type => "submit"}
/         filtrar
/         %svg.icon-botao
/           %use{"xlink:href" => "#ico-botao", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
