.nested-fields.inline-nested{ data: { nested_fields: '' } }
  .row.margin-top
    .col-xs-7
      = f.input :video, label: false, placeholder: t('.video_placeholder')
    - if params[:ciner_production_type] == 'serie'
      .col-xs-2
        = f.input :season, label: false, include_blank: t('.season_placeholder'), collection: (1..10)
      .col-xs-2
        = f.input :episode, label: false, include_blank: t('.episode_placeholder'), collection: (1..10)

    .pull-right
      = link_to_remove_association '', f, class: 'fa fa-trash-o', data: { confirm: t('confirm_destroy') }
