- role = role
- object = object
- cover = image_default_path(object.cover, "movie")

.internal-section-detail-filmable{ style: 'background-color: rgba(243, 110, 36, 0.1)' }
  .filmable
    .container
      .row
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
          .row
            .col-xs-12
              = image_tag(cover, class: "img-responsive", style: 'height: 330px !important; width: 220px !important; margin: auto')
            #ciner-production-reaction{ style: 'text-align: center' }
              = render 'shared/reactions', resource: object, like_path: url_for([:like, role, object]), dislike_path: url_for([:dislike, role, object])
        .hidden-xs
          = render 'shared/ciner_productions/general_info_desktop', role: role, object: object, cover: cover
        .hidden-sm.hidden-md.hidden-lg.hidden-xl
          = render 'shared/ciner_productions/general_info_mobile', role: role, object: object, cover: cover
