- object = professional
- role = role

- if object
  - avatar = image_default_path(object.avatar, "user")
  - professional_class ||= ""
  - data_mh ||= ""
  - observation ||= nil

  = link_to url_for([role, object]) do
    .col-xs-6.col-sm-4.col-md-2.col-lg-2{ class: professional_class, "data-mh": data_mh, style: "width: 120px; height: 180px;" }
      = image_tag(avatar, class: "img-responsive", style: 'width: 90px; height: 90px;')
      %h5
        = object.name
      - unless observation && observation.empty?
        %p
          = observation
