!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    /[if gte mso 9]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    / [if !mso]><!
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    / <![endif]
    %title Empty Template
    / [if !mso]><!--
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    / <![endif]
    %style#media-query{:type => "text/css"}
      :cdata
        body {
        margin: 0;
        padding: 0; }

        table, tr, td {
        vertical-align: top;
        border-collapse: collapse; }

        \.ie-browser table, .mso-container table {
        table-layout: fixed; }

        * {
        line-height: inherit; }

        a[x-apple-data-detectors=true] {
        color: inherit !important;
        text-decoration: none !important; }

        [owa] .img-container div, [owa] .img-container button {
        display: block !important; }

        [owa] .fullwidth button {
        width: 100% !important; }

        [owa] .block-grid .col {
        display: table-cell;
        float: none !important;
        vertical-align: top; }

        \.ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
        width: 560px !important; }

        \.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
        line-height: 100%; }

        \.ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
        width: 184px !important; }

        \.ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
        width: 368px !important; }

        \.ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
        width: 280px !important; }

        \.ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
        width: 186px !important; }

        \.ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
        width: 140px !important; }

        \.ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
        width: 112px !important; }

        \.ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
        width: 93px !important; }

        \.ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
        width: 80px !important; }

        \.ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
        width: 70px !important; }

        \.ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
        width: 62px !important; }

        \.ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
        width: 56px !important; }

        \.ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
        width: 50px !important; }

        \.ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
        width: 46px !important; }

        @media only screen and (min-width: 580px) {
        \.block-grid {
        width: 560px !important; }
        \.block-grid .col {
        vertical-align: top; }
        \.block-grid .col.num12 {
        width: 560px !important; }
        \.block-grid.mixed-two-up .col.num4 {
        width: 184px !important; }
        \.block-grid.mixed-two-up .col.num8 {
        width: 368px !important; }
        \.block-grid.two-up .col {
        width: 280px !important; }
        \.block-grid.three-up .col {
        width: 186px !important; }
        \.block-grid.four-up .col {
        width: 140px !important; }
        \.block-grid.five-up .col {
        width: 112px !important; }
        \.block-grid.six-up .col {
        width: 93px !important; }
        \.block-grid.seven-up .col {
        width: 80px !important; }
        \.block-grid.eight-up .col {
        width: 70px !important; }
        \.block-grid.nine-up .col {
        width: 62px !important; }
        \.block-grid.ten-up .col {
        width: 56px !important; }
        \.block-grid.eleven-up .col {
        width: 50px !important; }
        \.block-grid.twelve-up .col {
        width: 46px !important; } }

        @media (max-width: 580px) {
        \.block-grid, .col {
        min-width: 320px !important;
        max-width: 100% !important;
        display: block !important; }
        \.block-grid {
        width: calc(100% - 40px) !important; }
        \.col {
        width: 100% !important; }
        \.col > div {
        margin: 0 auto; }
        img.fullwidth, img.fullwidthOnMobile {
        max-width: 100% !important; }
        \.no-stack .col {
        min-width: 0 !important;
        display: table-cell !important; }
        \.no-stack.two-up .col {
        width: 50% !important; }
        \.no-stack.mixed-two-up .col.num4 {
        width: 33% !important; }
        \.no-stack.mixed-two-up .col.num8 {
        width: 66% !important; }
        \.no-stack.three-up .col.num4 {
        width: 33% !important; }
        \.no-stack.four-up .col.num3 {
        width: 25% !important; } }
  %body.clean-body{:style => "margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: transparent"}
    %style#media-query-bodytag{:type => "text/css"}
      :cdata
        @media (max-width: 520px) {
        \.block-grid {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
        }

        \.col {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
        }

        \.col > div {
        margin: 0 auto;
        }

        img.fullwidth {
        max-width: 100%!important;
        }
        img.fullwidthOnMobile {
        max-width: 100%!important;
        }
        \.no-stack .col {
        min-width: 0!important;
        display: table-cell!important;
        }
        \.no-stack.two-up .col {
        width: 50%!important;
        }
        \.no-stack.mixed-two-up .col.num4 {
        width: 33%!important;
        }
        \.no-stack.mixed-two-up .col.num8 {
        width: 66%!important;
        }
        \.no-stack.three-up .col.num4 {
        width: 33%!important
        }
        \.no-stack.four-up .col.num3 {
        width: 25%!important
        }
        }
    /[if IE] <div class="ie-browser">
    /[if mso] <div class="mso-container">
    %table.nl-container{:cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: transparent;width: 100%"}
      %tbody
        %tr{:style => "vertical-align: top"}
          %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top"}
            /[if (mso)|(IE)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: transparent;">
            %div{:style => "background-color:#7F274F;"}
              .block-grid{:style => "Margin: 0 auto;min-width: 320px;max-width: 560px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #7F274F;"}
                %div{:style => "border-collapse: collapse;display: table;width: 100%;background-color:#7F274F;"}
                  /[if (mso)|(IE)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#7F274F;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 560px;"><tr class="layout-full-width" style="background-color:#7F274F;">
                  /[if (mso)|(IE)] <td align="center" width="534" style="background-color:#7F274F; width:534px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 13px solid #7F274F; border-left: 13px solid #7F274F; border-bottom: 13px solid #7F274F; border-right: 13px solid #7F274F;" valign="top">
                  .col.num12{:style => "min-width: 320px;max-width: 560px;display: table-cell;vertical-align: top;"}
                    %div{:style => "background-color: #7F274F; width: 100% !important;"}
                      / [if (!mso)&(!IE)]><!
                      %div{:style => "border-top: 13px solid #7F274F; border-left: 13px solid #7F274F; border-bottom: 13px solid #7F274F; border-right: 13px solid #7F274F; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;"}
                        / <![endif]
                        .img-container.center.fixedwidth{:align => "center", :style => "padding-right: 0px;  padding-left: 0px;"}
                          /[if mso] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px;" align="center">
                          %img.center.fixedwidth{:align => "center", :alt => "Image", :border => "0", :src => "images/Logo%20Branco%20e%20Rosa%20Fundo%20Rosa.jpg", :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 373.8px", :title => "Image", :width => "373.8"}/
                          /[if mso] </td></tr></table>
                        /[if mso] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 25px; padding-left: 25px; padding-top: 0px; padding-bottom: 25px;">
                        %div{:style => "font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:150%;color:#FFFFFF; padding-right: 25px; padding-left: 25px; padding-top: 0px; padding-bottom: 25px;"}
                          %div{:style => "font-size:12px;line-height:18px;color:#FFFFFF;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                            %p{:style => "margin: 0;font-size: 14px;line-height: 21px;text-align: center"}
                              %span{:style => "font-size: 22px; line-height: 33px;"}
                                %em
                                  “Dave, minha consciência se
                                  %br>/
                                  esvai. Estou sentindo.
                              %span{:style => "font-size: 22px; line-height: 33px;"}
                                %em
                                  ”
                                  %span{:style => "font-size: 12px; line-height: 18px;"} 2001 - Uma Odisseia no Espaço
                        /[if mso] </td></tr></table>
                        / [if (!mso)&(!IE)]><!
                      / <![endif]
                  /[if (mso)|(IE)] </td></tr></table></td></tr></table>
            %div{:style => "background-color:#FFFFFF;"}
              .block-grid{:style => "Margin: 0 auto;min-width: 320px;max-width: 560px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"}
                %div{:style => "border-collapse: collapse;display: table;width: 100%;background-image:url('images/asanoha-400px.png');background-position:top left;background-repeat:no-repeat;;background-color:transparent;"}
                  /[if (mso)|(IE)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#FFFFFF;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 560px;"><tr class="layout-full-width" style="background-image:url('images/asanoha-400px.png');background-position:top left;background-repeat:no-repeat;;background-color:transparent">
                  /[if (mso)|(IE)] <td align="center" width="560" style="background-color:#FFFFFF; width:560px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                  .col.num12{:style => "min-width: 320px;max-width: 560px;display: table-cell;vertical-align: top;"}
                    %div{:style => "background-color: #FFFFFF; width: 100% !important;"}
                      / [if (!mso)&(!IE)]><!
                      %div{:style => "border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;"}
                        / <![endif]
                        %div{:style => "padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;"}
                          /[if (mso)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 5px;padding-left: 5px; padding-top: 5px; padding-bottom: 5px;"><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>
                          %div{:align => "center"}
                            %div{:style => "border-top: 0px solid transparent; width:100%; line-height:0px; height:0px; font-size:0px;"}
                          /[if (mso)] </td></tr></table></td></tr></table>
                        /[if mso] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 30px; padding-left: 30px; padding-top: 40px; padding-bottom: 50px;">
                        %div{:style => "font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%;color:#555555; padding-right: 30px; padding-left: 30px; padding-top: 40px; padding-bottom: 50px;"}
                          %div{:style => "font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#555555;text-align:left;"}
                            %p{:style => "margin: 0;font-size: 14px;line-height: 17px;text-align: center"}
                              %span{:style => "font-size: 16px; line-height: 19px;"} Recebemos a solicitação de exclusão de sua conta.
                              %br/
                              %br/
                              %span{:style => "font-size: 16px; line-height: 19px;"} Obrigado por fazer parte de nossa equipe nesse período.
                              %br/
                              %br/
                              %span{:style => "font-size: 18px; line-height: 21px;"}
                                %strong Como num filme, tudo tem um início, um meio e um fim, mas esperamos que em breve tenha uma continuação.
                              %br/
                              %br/
                              %span{:style => "font-size: 18px; line-height: 21px;"} "Hasta La vista baby!"
                        /[if mso] </td></tr></table>
                        / [if (!mso)&(!IE)]><!
                      / <![endif]
                  /[if (mso)|(IE)] </td></tr></table></td></tr></table>
            %div{:style => "background-color:#F3F3F3;"}
              .block-grid.mixed-two-up{:style => "Margin: 0 auto;min-width: 320px;max-width: 560px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"}
                %div{:style => "border-collapse: collapse;display: table;width: 100%;background-color:transparent;"}
                  /[if (mso)|(IE)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#F3F3F3;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 560px;"><tr class="layout-full-width" style="background-color:transparent;">
                  /[if (mso)|(IE)] <td align="center" width="373" style=" width:373px; padding-right: 0px; padding-left: 0px; padding-top:15px; padding-bottom:15px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                  .col.num8{:style => "display: table-cell;vertical-align: top;min-width: 320px;max-width: 368px;"}
                    %div{:style => "background-color: transparent; width: 100% !important;"}
                      / [if (!mso)&(!IE)]><!
                      %div{:style => "border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:15px; padding-bottom:15px; padding-right: 0px; padding-left: 0px;"}
                        / <![endif]
                        /[if mso] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px;">
                        %div{:style => "font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%;color:#8F8F8F; padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px;"}
                          %div{:style => "font-size:12px;line-height:14px;color:#8F8F8F;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                            %p{:style => "margin: 0;font-size: 12px;line-height: 14px"} Este é um e-mail automático. Não responda a esta mensagem, pois esta caixa de entrada não é monitorada.
                            %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}
                              %br{"data-mce-bogus" => "1"}/
                            %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}
                              Se precisar de ajuda ou quiser entrar em contato conosco, visite o nosso
                              = succeed "." do
                                %a{:href => "http://45.55.81.37/contacts/new", :rel => "noopener", :style => "color:#555555;color:#555555;color:#555555;text-decoration: underline;", :target => "_blank"} site
                            %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}
                              %br{"data-mce-bogus" => "1"}/
                            %p{:style => "margin: 0;font-size: 12px;line-height: 14px"}
                              A utilização dos serviços e site Ciner está sujeita ao "
                              %a{:href => "http://45.55.81.37/contacts/new", :rel => "noopener", :style => "color:#555555;color:#555555;color:#555555;color:#555555;color:#555555;text-decoration: underline;", :target => "_blank"}> Contrato e Termos de Uso
                              " e à "
                              %a{:href => "http://45.55.81.37/contacts/new", :rel => "noopener", :style => "color:#555555;color:#555555;color:#555555;color:#555555;color:#555555;text-decoration: underline;", :target => "_blank"}> Política de Privacidade
                              "
                        /[if mso] </td></tr></table>
                        / [if (!mso)&(!IE)]><!
                      / <![endif]
                  /[if (mso)|(IE)] </td><td align="center" width="187" style=" width:187px; padding-right: 10px; padding-left: 10px; padding-top:15px; padding-bottom:15px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                  .col.num4{:style => "display: table-cell;vertical-align: top;max-width: 320px;min-width: 184px;"}
                    %div{:style => "background-color: transparent; width: 100% !important;"}
                      / [if (!mso)&(!IE)]><!
                      %div{:style => "border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:15px; padding-bottom:15px; padding-right: 10px; padding-left: 10px;"}
                        / <![endif]
                        %div{:align => "right", :style => "padding-right: 0px; padding-left: 35px; padding-bottom: 10px;"}
                          %div{:style => "line-height:45px;font-size:1px"}
                          %div{:style => "display: table; max-width:144px;"}
                            /[if (mso)|(IE)] <table width="109" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 0px; padding-left: 35px; padding-bottom: 10px;"  align="right"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:109px;"><tr><td width="32" style="width:32px; padding-right: 10px;" valign="top">
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "32", :style => "border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 10px", :width => "32"}
                              %tbody
                                %tr{:style => "vertical-align: top"}
                                  %td{:align => "left", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle"}
                                    %a{:href => "https://www.facebook.com/sejaciner/?ref=bookmarks", :target => "_blank", :title => "Facebook"}
                                      %img{:alt => "Facebook", :src => "images/facebook.png", :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important", :title => "Facebook", :width => "32"}/
                                    %div{:style => "line-height:5px;font-size:1px"}
                            /[if (mso)|(IE)] </td><td width="32" style="width:32px; padding-right: 0;" valign="top">
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "32", :style => "border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 0", :width => "32"}
                              %tbody
                                %tr{:style => "vertical-align: top"}
                                  %td{:align => "left", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle"}
                                    %a{:href => "https://instagram.com/sejaciner", :target => "_blank", :title => "Instagram"}
                                      %img{:alt => "Instagram", :src => "images/instagram@2x.png", :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important", :title => "Instagram", :width => "32"}/
                                    %div{:style => "line-height:5px;font-size:1px"}
                            /[if (mso)|(IE)] </td></tr></table></td></tr></table>
                        / [if (!mso)&(!IE)]><!
                      / <![endif]
                  /[if (mso)|(IE)] </td></tr></table></td></tr></table>
            /[if (mso)|(IE)] </td></tr></table>
    /[if (mso)|(IE)] </div>
