= javascript_include_tag Ckeditor.cdn_url

- commentable_type = object.class
- commentable_id = object.id

.container.content
  %div{ data: { comments_section: '', path: api_v1_comments_path, commentable_type: commentable_type, commentable_id: commentable_id } }
