- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

.row
  .col-xs-12
    = age_range.title
.row
  .col-xs-12
    = age_range.trailer

