- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            .icon-title
              %img.img-responsive{ src: image_path("icons/ico_events.png") }
          .media-body.media-bottom
            .media-heading.title-section
              Agenda Ciner

  = render 'shared/events/toolbar', path: platform_events_path

  .row
    - events.each do |event|
      = render 'shared/events/event', event: event, path: platform_event_path(event), like_path: like_platform_event_path(event), dislike_path: dislike_platform_event_path(event)
