.section-news
  .title-separator.ciner-news
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#noticia"}
      .media-body.media-bottom
        .media-heading.title-section Agenda Ciner
      .media-body.text-right.media-middle
        %a{:href => "#"}
          = t('see_more')
  / POSTS ITEMS
  - events.each do |event|
    = render 'home/events/item', event: event

  / POSTS ITEMS
