label,
input,
textarea,
select {
  width: 100%;
}

select,
input[type="text"] {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.media .media-body.see-more {
  line-height: 12px;
  font-size: 12px;
  vertical-align: bottom;

  a {
    color: grey;
  }
}
