.row.actions
  .col-xs-12.col-sm-3.pull-right
    = f.button :submit, t('confirm')
  .col-xs-12.col-sm-3.pull-right
    = link_to :back do
      .btn.submit{ input: { type: 'submit' } }
        = t('cancel')
