- avatar = user.avatar
- avatar ||= image_path("default/user/image.png")
- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

.row
  - if current_user.admin?
    .col-xs-4
      .text-center{ style: "font-size: 22px; padding-left: 50%;" }
        = link_to admin_settings_path do
          %i.fa.fa-cogs
  .col-xs-4
    - if current_user
      = link_to url_for([role, "profile"]) do
        .text-center{ style: "padding-left: 30px; padding-right: 30px;" }
          %img.img-responsive{ src: avatar, style: "width: 30px; height: 30px; margin: auto" }
