- avatar = user.avatar
- avatar ||= image_path("default/user/image.png")
- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

.row
  .col-xs-offset-4.col-xs-2{ style: 'margin-top: -5px;' }
    - if current_user
      = link_to url_for([role, "profile"]) do
        %img.img-responsive{ src: avatar, style: "width: 45px; height: 45px; margin: auto" }
  .col-xs-4{ style: 'overflow: hidden; height: 45px; text-align: left; margin-left: 15px;' }
    .name{ style: 'height: 20px; margin-top: -10px; font-size: 18px; font-weight: bold;' }
      = link_to url_for([role, "profile"]) do
        = current_user.name.split(' ').first
    .logout{ style: 'height: 20px;' }
      = link_to 'Sair', destroy_user_session_path, method: :delete
