- avatar = user.avatar
- avatar ||= image_path("default/user/image.png")
- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

.row
  .col-xs-4
    - if current_user
      = link_to url_for([role, "profile"]) do
        .text-center{ style: "padding-left: 30px; padding-right: 30px;" }
          %img.img-responsive{ src: avatar, style: "width: 30px; height: 30px; margin: auto" }
