- filmable_type = params.fetch(:filter, {}).fetch(:filmable_type, '')
- role = current_user.admin? ? "admin" : "platform"

= render 'shared/toolbar'

.toolbar
  .row.searchbar
    .col-xs-12
      = render 'shared/searchbar', form_url: request.url, filter_params: params.fetch(:filter, nil)

  = render "#{role}/critics/filters", path: path, filmable_type: filmable_type
