- filmable_type = params.fetch(:filter, {}).fetch(:filmable_type, '')
- role = current_role(current_user, request.url)

= render 'shared/toolbar'

.toolbar
  .row.searchbar
    .col-xs-12
      = render 'shared/searchbar', form_url: request.url, filter_params: params.fetch(:filter, nil)
