- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

- like_path ||= nil
- dislike_path ||= nil

.container.content{ class: (event.featured? ? 'featured' : '') }
  .row
    .col-xs-12
      .row
        .col-xs-12.titulo{ style: 'margin-top: 5px; word-break: break-all;' }
          = link_to url_for([role, event]) do
            %h4
              = event.title

      %hr

      .row
        .col-xs-12{ style: 'overflow: hidden' }
          .curriculum-biograpy
            = event.description.html_safe

            %p
              .wine
                = event.datetime_str
