- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            .icon-title
              %img.img-responsive{ src: image_path("icons/ico_events.png"), style: 'width: 30px; height: 30px;' }
          .media-body.media-bottom
            .media-heading.title-section
              Agenda Ciner

  = render 'shared/events/toolbar', path: events_path

  .row
    - events.each do |event|
      = render 'shared/events/event', event: event, path: event_path(event)
