- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

/ Modal content
= simple_form_for [user_filmable] do |f|
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title
        = user_filmable.filmable.title_str
    .modal-body
      .row
        .col-xs-12
          = render 'form', f: f

    .modal-footer
      .pull-left
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          Fechar
      .pull-right
        = f.submit 'Salvar'
