@import 'views/shared/show';

$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 3;

.synopsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    .bold.wine {
      display: none;
    }
  }
}

.curriculum-biography {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  min-height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-description {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  min-height: $font-size*$line-height*1; /* Fallback for non-webkit */
  height: $font-size*$line-height*1;
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
