#noticias.col-xs-12.noticias-interna
  .title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#noticia"}
      .media-body.media-bottom
        .media-heading.title-section Notícias
      .media-body.text-right.media-middle
        %a{:href => "#"} ver mais
  .noticia-item
    .row
      .col-xs-12.col-sm-3
        %img.img-responsive{:src => "http://placehold.it/250x260"}/
      .col-xs-12.col-sm-9
        .data 07/04/2016
        .titulo The Year of Responsive Design
        .resumo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
        .text-right
          %a.button-default{:href => "#"} saiba mais
  .noticia-item
    .row
      .col-xs-12.col-sm-3
        %img.img-responsive{:src => "http://placehold.it/250x260"}/
      .col-xs-12.col-sm-9
        .data 07/04/2016
        .titulo The Year of Responsive Design
        .resumo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
        .text-right
          %a.button-default{:href => "#"} saiba mais
