- object = object
- incinerator = object.incinerator

- if incinerator
  - content_for :stylesheet, stylesheet_link_tag('views/shared/incinerator')

  .title-separator
    .media
      .media-left.media-middle
        %svg.media-object{:style => "display: inline-block; width: 32px; height: 32px; vertical-align: middle;"}
          %use{"xlink:href" => "#debate"}
      .media-body.media-bottom
        .media-heading.title-section
          Fala CINERD
  .incinerator-box{ style: 'height: 316px; font-size: 15px;' }
    %i.fa.fa-quote-left

    = incinerator.content.html_safe

    %i.fa.fa-quote-right
