= render 'shared/toolbar'

.toolbar
  .row.searchbar
    .col-xs-2
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#serie"}/
      .media-body.media-bottom
        .media-heading.title-section
          Séries

