- role = current_role(current_user, request.url)

.container.content
  .row{ style: 'padding: 2.5px;' }
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %svg.media-object.icon-title
              %use{"xlink:href" => "#usuario"}
          .media-body.media-bottom
            .media-heading.title-section
              Amigos
  .row
    .col-xs-12
      .row
        - friends.each do |object|
          - cover = image_default_path(object.cover, "user")

          .col-xs-6.col-sm-3.col-md-2.no-shelf{ style: 'margin-bottom: 0px;' }
            = link_to url_for([role, object]) do
              = image_tag(cover, class: "img-responsive", style: 'height: 200px; width: 200px;')
            .title{ style: 'height: 60px; overflow: hidden;'}
              = link_to url_for([role, object]) do
                = object.title_str
