/ SECTION FEATURED
.section-featured
  .ciner-featured.title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#destaque"}
      .media-body.media-bottom
        .media-heading.title-section Destaques
      .media-body.text-right.media-middle
        %a{:href => "#"}
          = t('see_more')

  = render 'shared/home/carousel/carousel', carousel_id: 'carousel-featured'

  = render 'shared/home/showcase/showcase', showcase_class: 'showcase-featured'
