- role = role
- cover = pm.try(:cover).try(:url)
- cover ||= "default/movie/image.png"

.movie-poster-item{ style: "width: 133px; height: 200px; float: left; margin-left: 5px; margin-right: 5px;" }
  = link_to url_for([role, pm]) do
    .thumb
      = image_tag(cover, class: "img-responsive", style: 'width: 133px; height: 200px;')
