- role = role
- cover = pm.try(:cover).try(:url)
- cover ||= image_path("default/movie/image.png")

.movie-poster-item{ style: "width: 130px; height: 195px; float: left; margin-left: 5px; margin-right: 5px;" }
  = link_to url_for([role, pm]) do
    .thumb
      = image_tag(cover, class: "img-responsive", style: 'width: 130px; height: 195px;')
