- role = role
- cover = pm.try(:cover).try(:url)
- cover ||= "http://placehold.it/400x500"

.movie-poster-item{ style: "width: 130px; height: 195px; float: left; margin-left: 5px; margin-right: 5px;" }
  = link_to url_for([role, pm]) do
    .thumb
      = image_tag(pm.cover.url, class: "img-responsive", style: 'width: 130px; height: 195px;')
