.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %i.fa.fa-bullhorn.fa-2x.wine{ style: 'margin-top: 10px; padding-top: 5px' }
          .media-body.media-bottom
            .media-heading.title-section Anuncie Aqui

  .row
    .col-xs-12.col-sm-4.col-table{"data-mh" => "seja-ciner"}
      .col-table-cell.text-center
        %h2.bold.wine.titulo-seja-ciner
          POR QUE DIVULGAR
          %br/
          SUA MARCA
          %br/
          NO CINER?
    .col-xs-12.col-sm-7{"data-mh" => "seja-ciner"}
      %p
        %span.bold
          PORQUE NOSSA MISSÃO
        é oferecer serviços, informações e entretenimento do mundo cinematográfico a todos que são fascinados por Cinema, permitindo a troca de experiência entre cinéfilos e profissionais da área.

      %p
        %span.bold
          PORQUE NOSSA VISÃO
        é sermos reconhecidos como maior portal de Cinema do mundo em língua portuguesa, contribuindo para difundir as obras brasileiras.

      %p
        %span.bold
          PORQUE NOSSO VALOR
        é promover conteúdos cinematográficos que tragam benefícios aos usuários e profissionais da área e SER ATUANTE no fomento da Indústria Cinematográfica Brasileira.

      %p
        Afinal, a paixão pelo Cinema transcende idade, gênero, sexo, etnia, religião e opção política. Sua marca será vista e reconhecida em todo o Brasil.

  .row
    .col-xs-12
      %p
        O portal
        %span.bold
          CINER
        prima pelo layout, propondo ao usuário um conteúdo mais organizado e de fácil localização. Assim, equilibramos publicidade e design, permitindo que o conteúdo do site permaneça acessível na mesma proporção que a marca de nossos parceiros esteja em exposição, tudo de forma harmônica.

      %p
        Veja as opções de publicidade:

  .row
    .col-xs-12.col-sm-4
    .col-xs-12.col-sm-8
      %h3.bold.wine
        BANNER ROTATIVO PRINCIPAL:
      %p
        localizado ao lado do conteúdo "Trailers mais recentes".
      %p
        Tamanho mínimo: 265px x 360px
      %p
        Tipo: imagem, vídeo ou gif
      %p
        Tempo de exposição: mínimo de 20 segundos por minuto, sendo 5 exposições de 4 segundos por minuto.
      %p
        Máximo de anunciantes no espaço: 3

      %br

  .row
    .col-xs-12.col-sm-4
    .col-xs-12.col-sm-8
      %h3.bold.wine
        BANNER ROTATIVO 1:
      %p
        localizado ao lado da "Agenda do Cinema".
      %p
        Tamanho mínimo: 215px x 232px
      %p
        Tipo: imagem, vídeo ou gif
      %p
        Tempo de exposição: mínimo de 20 segundos por minuto, sendo 5 exposições de 4 segundos por minuto.
      %p
        Máximo de anunciantes no espaço: 3

      %br

  .row
    .col-xs-12.col-sm-4
    .col-xs-12.col-sm-8
      %h3.bold.wine
        BANNER ROTATIVO 2:
      %p
        localizado ao lado da "Agenda do Cinema” e abaixo do BANNER ROTATIVO 1.
      %p
        Tamanho mínimo: 215px x 232px
      %p
        Tipo: imagem, vídeo ou gif
      %p
        Tempo de exposição: mínimo de 20 segundos por minuto, sendo 5 exposições de 4 segundos por minuto.
      %p
        Máximo de anunciantes no espaço: 3

      %br

  .row
    .col-xs-12.col-sm-4
    .col-xs-12.col-sm-8
      %h3.bold.wine
        BANNER ROTATIVO 3:
      %p
        localizado na página FILMES, logo abaixo das celebridades aniversariantes do dia.
      %p
        Tamanho mínimo: 215px x 232px
      %p
        Tipo: imagem, vídeo ou gif
      %p
        Tempo de exposição: mínimo de 20 segundos por minuto, sendo 5 exposições de 4 segundos por minuto.
      %p
        Máximo de anunciantes no espaço: 3

      %br

  .row
    .col-xs-12
      %h3.bold.wine.titulo-seja-ciner
        AGENDA DO CINEMA
      %p
        Espaço dedicado à exposição de palestras, cursos, oficinas, mostras, festivais e demais eventos ligados ao Cinema.
      %p
        Tamanho: Na Home, são 40 caracteres para o título do evento e 100 caracteres para breve descrição do evento, campo para período/data em que ocorrerá e um ícone de“Destaque”.
      %p
        Na página exclusiva da agenda: 40 caracteres para o título do evento, 425 caracteres para descrição mais detalhada do evento, podendo ser utilizado o campo “Mais informações” com 50.000 caracteres, inserção de até 5 imagens e um vídeo por meio de link (o vídeo não será hospedado nos servidores do Ciner), local e data de realização do evento.
      %p
        Para os eventos sem fins lucrativos oferecidos por Instituições, Entidades e órgãos Públicos, o Ciner realiza a divulgação gratuitamente como forma de incentivar o Cinema Nacional. Basta enviar-nos um e-mail no endereço abaixo com as informações para publicação (imagem, texto, vídeo, etc).

      %br

  .row
    .col-xs-12
      %p
        Ficou interessado em expor sua marca no portal CINER? Entre em contato pelo email

      %h3{ style: 'text-align: center' }
        = mail_to "anuncie@ciner.com.br"

