.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %i.fa.fa-bullhorn.fa-2x.wine{ style: 'margin-top: 10px; padding-top: 5px' }
          .media-body.media-bottom
            .media-heading.title-section Anuncie Aqui

  .row
    .col-xs-12
      %p.bold
        POR QUE DIVULGAR SUA MARCA NO PORTAL CINER?

      %p
        %span.bold
          PORQUE NOSSA MISSÃO
        é oferecer serviços, informações e entretenimento do mundo cinematográfico a todos que são fascinados por Cinema, permitindo a troca de experiência entre cinéfilos e profissionais da área.

      %p
        %span.bold
          PORQUE NOSSA VISÃO
        é sermos reconhecidos como maior portal de Cinema do mundo em língua portuguesa, contribuindo para difundir as obras brasileiras.

      %p
        %span.bold
          PORQUE NOSSO VALOR
        é promover conteúdos cinematográficos que tragam benefícios aos usuários e profissionais da área e SER ATUANTE no fomento da Indústria Cinematográfica Brasileira.

      %p
        Afinal, a paixão pelo Cinema transcende idade, gênero, sexo, etnia, religião e opção política. Sua marca será vista e reconhecida em todo o Brasil.

      %p
        O portal
        %span.bold
          CINER
        prima pelo layout, propondo ao usuário um conteúdo mais organizado e de fácil localização. Assim, equilibramos publicidade e design, permitindo que o conteúdo do site permaneça acessível na mesma proporção que a marca de nossos parceiros esteja em exposição, tudo de forma harmônica.

      %p
        Veja as opções de publicidade:

      %p
        %span.bold
          BANNER ROTATIVO PRINCIPAL:
        localizado ao lado do conteúdo "Trailers mais recentes".
      %p
        Tamanho: 265px x 360px
      %p
        Tipo: imagem, vídeo ou gif
      %p
        Tempo de exposição: mínimo de 20 segundos por minuto, sendo 5 exposições de 4 segundos por minuto.
      %p
        Máximo de anunciantes no espaço: 3

      %br

      %p
        %span.bold
          BANNER ROTATIVO 1:
        localizado ao lado da "Agenda do Cinema".
      %p
        Tamanho: 215px x 232x
      %p
        Tipo: imagem, vídeo ou gif
      %p
        Tempo de exposição: mínimo de 20 segundos por minuto, sendo 5 exposições de 4 segundos por minuto.
      %p
        Máximo de anunciantes no espaço: 3

      %br

      %p
        %span.bold
          BANNER ROTATIVO 2:
        localizado ao lado da "Agenda do Cinema” e abaixo do BANNER ROTATIVO 1.
      %p
        Tamanho: 999px x 999px
      %p
        Tipo: imagem, vídeo ou gif
      %p
        Tempo de exposição: mínimo de 20 segundos por minuto, sendo 5 exposições de 4 segundos por minuto.
      %p
        Máximo de anunciantes no espaço: 3

      %br

      %p
        %span.bold
          AGENDA DO CINEMA:
        espaço dedicado à exposição de palestras, cursos, oficinas, mostras, festivais e demais eventos ligados ao Cinema.
      %p
        Tamanho: Na Home, são 40 caracteres para o título do evento e 100 caracteres para breve descrição do evento.
      %p
        Na página exclusiva da agenda: 40 caracteres para o título do evento, 425 caracteres para descrição mais detalhada do evento, podendo ser utilizado o campo “Mais informações” com 50.000 caracteres, inserção de até 5 imagens e um vídeo por meio de link (o vídeo não será hospedado nos servidores do Ciner).

      %br

      %p
        Ficou interessado em expor sua marca no portal CINER? Entre em contato pelo email

      %h3{ style: 'text-align: center' }
        = mail_to "anuncie@ciner.com.br"

