default: &default
  adapter: mysql2
  encoding: utf8
  host: localhost
  username: root
  password: root
  timeout: 5000

test:
  <<: *default
  database: ciner_test

development:
  <<: *default
  database: ciner_development

production:
  host: 45.55.81.37
  adapter: mysql2
  encoding: utf8
  database: ciner
  username: root
  password: 3chzSMys
  timeout: 5000
