.section-news
  .title-separator.ciner-news
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#noticia"}
      .media-body.media-bottom
        .media-heading.title-section Notícias
      .media-body.text-right.media-middle
        %a{:href => "#"}
          = t('see_more')
  / POSTS ITEMS
  - 4.times do
    = render 'home/news/item'

  / POSTS ITEMS
