- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/broadcasts/show', broadcast: broadcast, resource: broadcast, like_path: like_admin_broadcast_path(broadcast), dislike_path: dislike_admin_broadcast_path(broadcast)

- broadcast.broadcast_images.each do |image|
  - cover = image.media
  .col-sm-3
    = image_tag(cover, class: "img-responsive", style: 'width: 200px; height: 200px;' )
    / %img.img-responsive{ src: cover, style: 'width: 200px; height: 200px;' }


