!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    /[if gte mso 9]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    / [if !mso]><!
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    / <![endif]
    %title Empty Template
    / [if !mso]><!--
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    / <![endif]
    %style#media-query{:type => "text/css"}
      :cdata
        body {
        margin: 0;
        padding: 0; }

        table, tr, td {
        vertical-align: top;
        border-collapse: collapse; }

        \.ie-browser table, .mso-container table {
        table-layout: fixed; }

        * {
        line-height: inherit; }

        a[x-apple-data-detectors=true] {
        color: inherit !important;
        text-decoration: none !important; }

        [owa] .img-container div, [owa] .img-container button {
        display: block !important; }

        [owa] .fullwidth button {
        width: 100% !important; }

        [owa] .block-grid .col {
        display: table-cell;
        float: none !important;
        vertical-align: top; }

        \.ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
        width: 560px !important; }

        \.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
        line-height: 100%; }

        \.ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
        width: 184px !important; }

        \.ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
        width: 368px !important; }

        \.ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
        width: 280px !important; }

        \.ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
        width: 186px !important; }

        \.ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
        width: 140px !important; }

        \.ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
        width: 112px !important; }

        \.ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
        width: 93px !important; }

        \.ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
        width: 80px !important; }

        \.ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
        width: 70px !important; }

        \.ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
        width: 62px !important; }

        \.ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
        width: 56px !important; }

        \.ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
        width: 50px !important; }

        \.ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
        width: 46px !important; }

        @media only screen and (min-width: 580px) {
        \.block-grid {
        width: 560px !important; }
        \.block-grid .col {
        vertical-align: top; }
        \.block-grid .col.num12 {
        width: 560px !important; }
        \.block-grid.mixed-two-up .col.num4 {
        width: 184px !important; }
        \.block-grid.mixed-two-up .col.num8 {
        width: 368px !important; }
        \.block-grid.two-up .col {
        width: 280px !important; }
        \.block-grid.three-up .col {
        width: 186px !important; }
        \.block-grid.four-up .col {
        width: 140px !important; }
        \.block-grid.five-up .col {
        width: 112px !important; }
        \.block-grid.six-up .col {
        width: 93px !important; }
        \.block-grid.seven-up .col {
        width: 80px !important; }
        \.block-grid.eight-up .col {
        width: 70px !important; }
        \.block-grid.nine-up .col {
        width: 62px !important; }
        \.block-grid.ten-up .col {
        width: 56px !important; }
        \.block-grid.eleven-up .col {
        width: 50px !important; }
        \.block-grid.twelve-up .col {
        width: 46px !important; } }

        @media (max-width: 580px) {
        \.block-grid, .col {
        min-width: 320px !important;
        max-width: 100% !important;
        display: block !important; }
        \.block-grid {
        width: calc(100% - 40px) !important; }
        \.col {
        width: 100% !important; }
        \.col > div {
        margin: 0 auto; }
        img.fullwidth, img.fullwidthOnMobile {
        max-width: 100% !important; }
        \.no-stack .col {
        min-width: 0 !important;
        display: table-cell !important; }
        \.no-stack.two-up .col {
        width: 50% !important; }
        \.no-stack.mixed-two-up .col.num4 {
        width: 33% !important; }
        \.no-stack.mixed-two-up .col.num8 {
        width: 66% !important; }
        \.no-stack.three-up .col.num4 {
        width: 33% !important; }
        \.no-stack.four-up .col.num3 {
        width: 25% !important; } }
  %body.clean-body{:style => "margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: transparent"}
    %style#media-query-bodytag{:type => "text/css"}
      :cdata
        @media (max-width: 520px) {
        \.block-grid {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
        }

        \.col {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
        }

        \.col > div {
        margin: 0 auto;
        }

        img.fullwidth {
        max-width: 100%!important;
        }
        img.fullwidthOnMobile {
        max-width: 100%!important;
        }
        \.no-stack .col {
        min-width: 0!important;
        display: table-cell!important;
        }
        \.no-stack.two-up .col {
        width: 50%!important;
        }
        \.no-stack.mixed-two-up .col.num4 {
        width: 33%!important;
        }
        \.no-stack.mixed-two-up .col.num8 {
        width: 66%!important;
        }
        \.no-stack.three-up .col.num4 {
        width: 33%!important
        }
        \.no-stack.four-up .col.num3 {
        width: 25%!important
        }
        }
    /[if IE] <div class="ie-browser">
    /[if mso] <div class="mso-container">
    %table.nl-container{:cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: transparent;width: 100%"}
      %tbody
        %tr{:style => "vertical-align: top"}
          %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top"}
            /[if (mso)|(IE)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: transparent;">
            %div{:style => "background-color:#7F274F;"}
              .block-grid{:style => "Margin: 0 auto;min-width: 320px;max-width: 560px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #7F274F;"}
                %div{:style => "border-collapse: collapse;display: table;width: 100%;background-color:#7F274F;"}
                  /[if (mso)|(IE)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#7F274F;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 560px;"><tr class="layout-full-width" style="background-color:#7F274F;">
                  /[if (mso)|(IE)] <td align="center" width="534" style="background-color:#7F274F; width:534px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 13px solid #7F274F; border-left: 13px solid #7F274F; border-bottom: 13px solid #7F274F; border-right: 13px solid #7F274F;" valign="top">
                  .col.num12{:style => "min-width: 320px;max-width: 560px;display: table-cell;vertical-align: top;"}
                    %div{:style => "background-color: #7F274F; width: 100% !important;"}
                      / [if (!mso)&(!IE)]><!
                      %div{:style => "border-top: 13px solid #7F274F; border-left: 13px solid #7F274F; border-bottom: 13px solid #7F274F; border-right: 13px solid #7F274F; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;"}
                        / <![endif]
                        .img-container.center.fixedwidth{:align => "center", :style => "padding-right: 0px;  padding-left: 0px;"}
                          /[if mso] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px;" align="center">
                          %img.center.fixedwidth{:align => "center", :alt => "Image", :border => "0", :src => attachments['logo.jpg'].url, :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 373.8px", :title => "Image", :width => "373.8"}/
                          /[if mso] </td></tr></table>
                        /[if mso] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;">
                        %div{:style => "font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:150%;color:#FFFFFF; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"}
                          %div{:style => "font-size:12px;line-height:18px;color:#FFFFFF;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"}
                            %p{:style => "margin: 0;font-size: 14px;line-height: 21px;text-align: center"}
                              %span{:style => "font-size: 22px; line-height: 33px;"}
                                %em “Velhice... É a única doença, Sr. Thompson, de que não se espera cura.”
                              %br/
                              %span{:style => "font-size: 22px; line-height: 33px;"}
                                %em

                                  %span{:style => "font-size: 12px; line-height: 18px;"} Cidadão Kane
                        /[if mso] </td></tr></table>
                        / [if (!mso)&(!IE)]><!
                      / <![endif]
                  /[if (mso)|(IE)] </td></tr></table></td></tr></table>
            %div{:style => "background-color:#FFFFFF;"}
              .block-grid{:style => "Margin: 0 auto;min-width: 320px;max-width: 560px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"}
                %div{:style => "border-collapse: collapse;display: table;width: 100%;background-image:#{attachments['asanoha.png'].url};background-position:top left;background-repeat:no-repeat;;background-color:transparent;"}
                  /[if (mso)|(IE)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#FFFFFF;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 560px;"><tr class="layout-full-width" style="background-image:url('images/asanoha-400px.png');background-position:top left;background-repeat:no-repeat;;background-color:transparent">
                  /[if (mso)|(IE)] <td align="center" width="560" style="background-color:#FFFFFF; width:560px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                  .col.num12{:style => "min-width: 320px;max-width: 560px;display: table-cell;vertical-align: top;"}
                    %div{:style => "background-color: #FFFFFF; width: 100% !important;"}
                      / [if (!mso)&(!IE)]><!
                      %div{:style => "border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;"}
                        / <![endif]
                        %div{:style => "padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;"}
                          /[if (mso)] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 5px;padding-left: 5px; padding-top: 5px; padding-bottom: 5px;"><table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>
                          %div{:align => "center"}
                            %div{:style => "border-top: 0px solid transparent; width:100%; line-height:0px; height:0px; font-size:0px;"}
                          /[if (mso)] </td></tr></table></td></tr></table>
                        /[if mso] <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 30px; padding-left: 30px; padding-top: 40px; padding-bottom: 50px;">
                        %div{:style => "font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%;color:#555555; padding-right: 30px; padding-left: 30px; padding-top: 40px; padding-bottom: 50px;"}
                          %div{:style => "font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#555555;text-align:left;"}
                            %p{:style => "margin: 0;font-size: 14px;line-height: 17px;text-align: center"}
                              %span{:style => "font-size: 20px; line-height: 24px;"}
                                %strong
                                  %span{:style => "line-height: 24px; font-size: 20px;"}
                                    = "Parabéns, #{@user.name}!"
                            %p{:style => "margin: 0;font-size: 14px;line-height: 17px;text-align: center"}
                              %br/
                              %span{:style => "font-size: 18px; line-height: 21px;"}
                                Mais um dia marcante na história do Cinema.
                            %p{:style => "margin: 0;font-size: 14px;line-height: 17px;text-align: center"}
                              %br/
                              %span{:style => "font-size: 18px; line-height: 21px;"}
                                Aproveite e veja no Ciner quais celebridades fazem aniversário hoje.
                      / <![endif]
                  /[if (mso)|(IE)] </td></tr></table></td></tr></table>
            = render 'shared/mail/footer'
            /[if (mso)|(IE)] </td></tr></table>
    /[if (mso)|(IE)] </div>
