#arquivos.criticas
  .title-separator
    .media
      .media-body.media-bottom
        .media-heading.title-section
          Ãudios

  .row
    - curriculum.curriculum_audios.each do |audio|
      - if audio.media && audio.media.url
        .col-xs-4
          / = link_to "Download #{audio.media.filename}", audio.media.url, download: ""
          = audio_tag("ciner.com.br/#{audio.media.url}", autoplay: false, controls: true)
          / %audio#sound_effect.audio_player{:controls => "true", :preload => "true"}
          /   %source{:src => audio.media.url}
