#arquivos.criticas
  .title-separator
    .media
      .media-body.media-bottom
        .media-heading.title-section
          Áudios

  .row
    - curriculum.curriculum_audios.each do |audio|
      - if audio.media && audio.media.url
        .col-xs-4
          = link_to "Download #{audio.media.filename}", audio.media.url, download: ""
