#arquivos.criticas
  .title-separator
    .media
      .media-body.media-bottom
        .media-heading.title-section
          Documentos

  .row
    - curriculum.curriculum_files.each do |file|
      .col-xs-12.col-sm-4
        %iframe{:frameborder => "0", :src => "http://docs.google.com/gview?url=ciner.com.br#{file.media.url}&embedded=true", :style => "width: 330px; height: auto;"}
