- role = current_role(current_user, request.url)

- content_for :stylesheet, stylesheet_link_tag('views/shared/toolbar')
- content_for :javascript, javascript_include_tag('views/shared/toolbar')

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section
              Curriculums


      = render 'shared/curriculums/toolbar'

      .row
        - curriculums.each do |curriculum|
          - object = curriculum
          - cover = object.current_avatar

          .col-sm-2.col-xs-3.no-shelf
            = link_to url_for([role, object]) do
              / = image_tag(cover, class: "img-responsive", style: 'height: 200px; width: 200px;')
              %img.img-responsive{ src: cover, style: 'width: 200px; height: 200px;' }
            .wine
              = object.title_str
            = object.age_str
