#user-actions
  .row
    .col-xs-12
      .tags
        .button
          %a
            %svg.icon-tags
              %use{"xlink:href" => "#favorito"}
            %span
              Favoritar
        .button
          %a
            %svg.icon-tags
              %use{"xlink:href" => "#like"}
            %span
              Indicar
