#arquivos.criticas
  .title-separator
    .media
      .media-body.media-bottom
        .media-heading.title-section
          Vídeos

  .row
    - curriculum.curriculum_videos.each do |video|
      - if video.media && video.media.url
        .col-xs-4
          %video{:controls => ""}
            %source{:src => video.media, :type => "video/mp4"}
              %p Your browser does not support H.264/MP4.
