.col-xs-12.col-sm-6.user-review#user-review
  .title-separator
    .media
      .media-left.media-middle
        %svg.media-object.icon-title
          %use{"xlink:href" => "#critica"}
      .media-body.media-middle
        .media-heading.title-section Minhas críticas
      .media-body.text-right.media-middle.see-more
        = link_to platform_critics_path(filter: { user_id: user.id }) do
          = t('see_more')
  .row
    - if critics.any?
      - critics.each do |critic|
        = render 'shared/users/critics/critic', critic: critic, user_critic_path: platform_critic_path(critic)
    - else
      .col-xs-12
        = render 'shared/alerts/info', message: (t('empty', klass: Critic.model_name.human(count: 2)))
