- content_for :javascript, javascript_include_tag("views/shared/users/show")

- role = current_role(current_user, request.url)

.container.content
  .row
    .col-xs-12
      .title-separator
        .media{ style: 'display: flex; align-items: center; width: 100%; height: 55px;' }
          .media-body.media-bottom
            .media-heading.title-section
              = "Coleção de #{user.name}"

      = render 'shared/users/collection/toolbar'

      .row
        - filmables.each_slice(6) do |slice|
          - slice.each do |user_filmable|
            - cover = user_filmable.cover unless user_filmable.cover.url.blank?
            - object = user_filmable.filmable
            - cover = object.cover if cover.blank?
            - cover = image_default_path(cover, "movie")

            .col-xs-6.col-sm-4.col-md-2.shelf{ title: user_filmable.title_str, data: { user_filmable_id: user_filmable.id, url: user_filmable_path(user_filmable), tipsy: '' } }
              / %img.img-responsive{ src: cover, style: 'width: 133px; height: 195px;' }
              = image_tag(cover, class: "img-responsive", style: 'height: 195px; width: 133px;')

          - if slice.count < 6
            - (6 - slice.count).times do
              .col-xs-6.col-sm-4.col-md-2.shelf
                .div{ style: 'width: 133px; height: 195px; border: 1px dotted grey; margin: auto;' }

#collectionModal.modal.fade{:role => "dialog"}
  .modal-dialog
