.nested-fields
  .row
    .col-xs-10.formatted-error-field
      .row
        .col-xs-4
          = f.input :set_function_id, collection: SetFunction.all
        .col-xs-8
          .div
            = f.input :user_id, collection: [], input_html: { data: { remote_select: '', ajax_url: api_v1_users_path } }

    .col-xs-2
      = link_to_remove_association '', f, class: 'fa fa-trash-o delete-icon', title: t('remove'), data: { confirm: t('confirm_destroy') }
