- role = role

.section-poster
  .ciner-poster.title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#perfil"}/
      .media-body.media-bottom
        .media-heading.title-section
          Aniversariantes
      .media-body.text-right.media-middle.see-more.see-more
        = link_to url_for([role, :professionals]) do
          = t('see_more')

.row
  - birthday_professionals.each do |object|
    - avatar = image_default_path(object.avatar, "user")
    = link_to url_for([role, object]) do
      .col-xs-12{ class: 'diretor', "data-mh": 'atores-principais', style: "width: 130px; height: 240px;" }
        %img.img-responsive{ src: avatar, style: "width: 100px; height: 150px;" }
        %h5
          = object.name
