.discussion-item
  .title
    %a{:href => "#"} Quem assistiu Batman vs Superman?
    %span.author Criado por João. 13/04/2016
  .hidden-xs.views
    %span.comments
      %span.vermelho 1142
      comentários
    %span.views
      %span.vermelho 6584
      visualizações
  .hidden-xs.last-comment
    .thumb-user
      %figure
        %img.img-responsive{:src => "assets/imgs/user.jpg"}/
    .last-user
      %span.vermelho último comentário
      Joana 13/04/2016
