= render 'shared/toolbar'

.toolbar
  .row.searchbar
    .col-xs-12
      .media-left.media-middle
        %svg.icon-title
          %use{ "xlink:href": "#video" }
      .media-body.media-bottom
        .media-heading.title-section
          Trailers mais recentes
