.nested-fields
  .row
    .col-xs-10.formatted-error-field
      = f.input :professional_id, label: false, collection: [], input_html: { data: { remote_select: '', ajax_url: api_v1_professionals_path }, include_blank: 'Profissional' }

    .col-xs-2
      = link_to_remove_association '', f, class: 'fa fa-trash-o delete-icon', title: t('remove'), data: { confirm: t('confirm_destroy') }
