- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

.row
  .col-xs-12
    = ciner_video.title
.row
  .col-xs-12
    = ciner_video.original_title
.row
  .col-xs-12
    = ciner_video.year
