@import 'components/form';

input.btn:hover {
  background-color: $pink;
  color: white;
}

select,
input {
  height: 34px;
}

input.terms {
	width: auto;
	height: auto;
}

.overlay-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
  top: 0; 
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
}
.terms-container {
  display: none;
  position: fixed;
  width: 80%;
  height: 80%;
  background-color: white;
  z-index: 10;
  border-radius: 8px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.terms-text {
  overflow-y: scroll;
  display: block;
  height: 80%;
}