- highlight_critic = critics.first

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#critica"}
          .media-body.media-bottom
            .media-heading.title-section
              = Critic.model_name.human(count: 2)

  = render 'shared/critics/toolbar', path: platform_critics_path

  = render 'shared/critics/highlight_critic', critic: critics.first, path: platform_critic_path(critic)

  .row
    - critics.each do |critic|
      = render 'shared/critics/critic', critic: critic, path: platform_critic_path(critic)
