- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/critics/show', critic: critic, resource: critic, like_path: like_platform_critic_path(critic), dislike_path: dislike_platform_critic_path(critic)
