- favorites = current_user.user_favorite
- watched = current_user.user_watched

.title-separator
  .media
    .media-left.media-middle
      %svg.media-object.icon-title
        %use{"xlink:href" => "#filme"}
    .media-body.media-middle
      .media-heading.title-section Meus Favoritos
    .media-body.text-right.media-middle.see-more
      = link_to 'ver mais', url_for([role, user, :favorite_index])

.row{ style: 'margin-bottom: 20px;', data: { slider: { favorites: '' } } }
  = render 'shared/home/showcase/showcase', role: role, showcase_class: 'showcase-poster', slider_movies: favorites

.title-separator
  .media
    .media-left.media-middle
      %svg.media-object.icon-title
        %use{"xlink:href" => "#filme"}
    .media-body.media-middle
      .media-heading.title-section Assistidos
    .media-body.text-right.media-middle.see-more
      = link_to 'ver mais', url_for([role, user, :watched_index])

.row{ style: 'margin-top: 20px;', data: { slider: { watched: '' } } }
  = render 'shared/home/showcase/showcase', role: role, showcase_class: 'showcase-poster', slider_movies: watched
