- friends = current_user.friends
- is_friend = friends.pluck(:id).include?(user.id) ? true : false
- show_collection = user.global? || (user.only_friends? && is_friend)

- size = 20

.section-collection
  .title-separator
    .media
      .media-left.media-middle
        %svg.media-object.icon-title
          %use{"xlink:href" => "#filme"}
      .media-body.media-middle
        .media-heading.title-section Minha coleção
      - if show_collection
        .media-body.text-right.media-middle.see-more
          = link_to 'Ver mais', url_for([role, user, :collection_index])

  - if show_collection
    - user_collection.first(size).each do |user_filmable|
      - cover = user_filmable.cover unless user_filmable.cover.url.blank?
      - object = user_filmable.filmable
      - cover = object.cover if cover.blank?
      - cover = image_default_path(cover, "movie")

      .col-md-3.col-sm-6.col-xs-6.shelf{ title: user_filmable.title_str, data: { user_filmable_id: user_filmable.id, url: user_filmable_path(user_filmable), tipsy: '' } }
        %img.img-responsive{ src: cover, style: 'width: 60px; height: 90px;' }

    - count = size - user_collection.count
    - if count > 0
      - count.times do
        .col-md-3.col-sm-6.col-xs-6.shelf
          .div{ style: 'height: 90px; width: 60px; border: 1px dotted grey' }
  - else
    - size.times do
      .col-md-3.col-sm-6.col-xs-6.shelf
        .div{ style: 'height: 90px; width: 60px; border: 1px dotted grey' }

#collectionModal.modal.fade{:role => "dialog"}
  .modal-dialog

