.section-collection
  .title-separator
    .media
      .media-left.media-middle
        %svg.media-object.icon-title
          %use{"xlink:href" => "#filme"}
      .media-body.media-middle
        .media-heading.title-section Minha coleção
      .media-body.text-right.media-middle.see-more
        = link_to 'ver mais', url_for([role, user, :collection_index])


  - user_collection.first(24).each do |user_filmable|
    - cover = user_filmable.cover unless user_filmable.cover.url.blank?
    - object = user_filmable.filmable
    - cover = image_default_path(object.cover, "movie")

    .col-md-3.col-sm-6.col-xs-6.shelf{ title: user_filmable.title_str, data: { user_filmable_id: user_filmable.id, url: user_filmable_path(user_filmable), tipsy: '' } }
      / = image_tag(cover, class: "img-responsive", style: 'height: 90px; width: 60px;')
      %img.img-responsive{ src: cover, style: 'width: 60px; height: 90px;' }

  - count = 24 - user_collection.count
  - if count > 0
    - count.times do
      .col-md-3.col-sm-6.col-xs-6.shelf
        / pontilhado
        .div{ style: 'height: 90px; width: 60px; border: 1px dotted grey' }

        / opção vazia
        / .div{ style: 'height: 90px; width: 60px;' }

        / opção placeholder
        / - cover = "http://placehold.it/550x700"
        / = image_tag(cover, class: "img-responsive", style: 'height: 90px; width: 60px;')

#collectionModal.modal.fade{:role => "dialog"}
  .modal-dialog

