- action = 'friend_request'

- unless current_user == user
  .friendship{ data: { friendship: { action: action, sender_id: current_user.id, receiver_id: user.id, url: notifications_path } } }
    %button.btn.btn-login{ style: "width: 170px; margin-top: 10px;" }
      %span.text
        Adicionar amigo
      %span.icon.icon-button
