.col-xs-12.col-sm-6.friend-list#friend-list
  .title-separator
    .media
      .media-left.media-middle
        %svg.media-object.icon-title
          %use{"xlink:href" => "#usuario"}
      .media-body.media-middle
        .media-heading.title-section Meus amigos
      .media-body.text-right.media-middle.see-more
        %a{:href => "#"} ver todos

  - friends.first(18).each do |object|
    = link_to url_for([role, object]) do
      .col-xs-4.col-sm-4.col-md-2.no-padding.friend-info{ style: 'padding: 0px;' }
        - avatar = image_default_path(object.avatar, "user")
        %img.img-responsive{ src: avatar, style: "width: 75px; height: 75px;" }
        %h5
          = object.name
