- friends = user.friends

.col-xs-12.col-sm-6.friend-list#friend-list
  .title-separator
    .media
      .media-left.media-middle
        %svg.media-object.icon-title
          %use{"xlink:href" => "#usuario"}
      .media-body.media-middle
        .media-heading.title-section Meus amigos
      .media-body.text-right.media-middle.see-more
        %a{:href => "#"} ver todos

  - friends.each do |object|
    = link_to url_for([role, object]) do
      .col-xs-4.col-sm-4.col-md-2.no-padding.friend-info{ style: 'padding: 0px;' }
        - avatar = object.avatar
        - avatar ||= image_path("default/user/image.jpg")
        %img.img-responsive{ src: avatar, style: "width: 75px; height: 75px;" }
        %h5
          = object.name

      / .media
      /   .media-left.media-middle
      /     - avatar = friend.avatar
      /     - avatar ||= image_path("default/user/image.jpg")
      /     = image_tag(avatar, class: "media-object", style: 'width: 75px; height: 86px;')
      /   .media-body.media-bottom
      /     .friend-name{:style => "display: block; font-size: 11px; line-height: 13px; color: #524b4b; font-weight: bold; text-overflow: ellipsis; overflow: hidden; width: 100%"}
      /       = link_to url_for([role, friend]) do
      /         = friend.name

/ .col-xs-12.visible-xs.hidden-sm
/   .section-collection
/     .title-separator
/       .media
/         .media-left.media-middle
/           %svg.media-object.icon-title
/             %use{"xlink:href" => "#filme"}
/         .media-body.media-middle
/           .media-heading.title-section Minha coleção
/         .media-body.text-right.media-middle.see-more
/           %a{:href => "#"} ver todos
/     .col-md-3.col-sm-6.col-xs-6.shelf
/       = image_tag("example_movie_3.jpg", class: "img-responsive")
/     .col-md-3.col-sm-6.col-xs-6.shelf
/       = image_tag("example_movie_3.jpg", class: "img-responsive")
/     .col-md-3.col-sm-6.col-xs-6.shelf
/       = image_tag("example_movie_3.jpg", class: "img-responsive")
/     .col-md-3.col-sm-6.col-xs-6.shelf
/       = image_tag("example_movie_3.jpg", class: "img-responsive")
/     .col-md-3.col-sm-6.col-xs-6.shelf
/       = image_tag("example_movie_3.jpg", class: "img-responsive")
/     .col-md-3.col-sm-6.col-xs-6.shelf
/       = image_tag("example_movie_3.jpg", class: "img-responsive")
/     .col-md-3.col-sm-6.col-xs-6.shelf
/       = image_tag("example_movie_3.jpg", class: "img-responsive")
/     .col-md-3.col-sm-6.col-xs-6.shelf
/       = image_tag("example_movie_3.jpg", class: "img-responsive")
