#videos.user-videos
  .title-separator
    .media
      .media-left.media-middle
        %svg.media-object.icon-title
          %use{"xlink:href" => "#video"}
      .media-body.media-middle
        .media-heading.title-section Meus vídeos
      .media-body.text-right.media-middle.see-more
        %a{:href => "#"} ver todos
  .ciner-movie.col-xs-12.col-sm-6.col-md-4
    .thumb
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
  .hidden-xs
    .ciner-movie.col-xs-12.col-sm-6.col-md-4
      .thumb
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
    .hidden-sm
      .ciner-movie.col-xs-12.col-sm-6.col-md-4
        .thumb
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
