- role = current_role(current_user, request.url)

.row.notification-box{ data: { notification: '' } }
  .col-xs-1
    - url = notification.from_ciner? ? root_path : url_for([role, notification.sender])
    - avatar = notification.from_ciner? ? "ciner.png" : image_default_path(notification.sender_avatar.thumb, "user")

    = link_to url do
      / %img.img-responsive{ src: avatar, style: 'width: 65px; height: 65px;' }
      = image_tag(avatar, class: "img-responsive", style: 'height: 65px; width: 65px;')
  .col-xs-8{ data: { sender_id: notification.receiver_id, receiver_id: notification.sender_id } }
    .row
      .col-xs-12
        = notification_message_str(notification, role)
    - unless notification.no_answer?
      - if notification.friend_request?
        .row
          .col-xs-12.pull-right
            .friendship.accept{ data: { friendship: { action: 'accept_friend_request', sender_id: notification.receiver_id, receiver_id: notification.sender_id, url: notifications_path } } }
              %button.btn.btn-login
                %span.text
                  Aceitar
            .friendship.decline{ data: { friendship: { action: 'decline_friend_request', sender_id: notification.receiver_id, receiver_id: notification.sender_id, url: notifications_path } } }
              %button.btn.btn-login
                %span.text
                  Recusar
      - elsif notification.contact?
        .row
          .col-xs-12.pull-right
            .friendship.accept{ data: { friendship: { action: 'accept_contact', sender_id: notification.receiver_id, receiver_id: notification.sender_id, url: notifications_path } } }
              %button.btn.btn-login
                %span.text
                  Aceitar
            .friendship.decline{ data: { friendship: { action: 'decline_contact', sender_id: notification.receiver_id, receiver_id: notification.sender_id, url: notifications_path } } }
              %button.btn.btn-login
                %span.text
                  Recusar
  .col-xs-3
    = notification.created_at_str
