@import 'base/colors';

.showcase-poster {
  padding-right: 0px;
  padding-left: 0px;
}

.slider-frame:hover {
  .btn.prev,
  .btn.next {
    opacity: 1 !important;
  }
}

.slider-frame {
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  * {
    margin: 0;
    padding: 0;
  }

  .btn {
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 1000;
    font-size: 20px;
    line-height: 175px;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-family: FontAwesome;

    &.prev {
      left: 0px;
      opacity: 0;

      &::after {
        content: '\f053';
      }
    }

    &.next {
      right: 0px;
      opacity: 0;

      &::after {
        content: '\f054';
      }
    }

  }

  .slider-container {
    transition: margin-left .2s ease, left .5s ease;
    position: absolute;
    left: 0;

    .slide {
      float: left;
      position: relative;
      top: 0;
      transition: width .2s ease, height .2s ease, top .2s ease;
    }

  }



}
