@import 'base/colors';
@import 'components/checkbox';

input[type="file"] {
  border-radius: 0;
  border: none;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.actions {
  margin-top: 30px;
}

label {
  margin-top: 15px;
}

h3 {
  color: $pink;
}

.select2.select2-container {
  width: 100% !important;
}
