- partial = 'admin/broadcasts/broadcast_broadcastables/fields'

.row
  .col-xs-12
    %h2.title.pull-right
      = link_to_add_association '+', f, :broadcast_broadcastables, data: { association_insertion_method: 'before' }, class: 'action-button add', partial: partial

    = f.simple_fields_for :broadcast_broadcastables do |ep|
      = render partial, f: ep
