/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require tipsy
 *= require jquery.Jcrop
 *= require font-awesome
 *= require toastr
 *= require_tree .
 *= require_self
 */

@import 'base/base';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./fonts";
@import 'bootstrap-datetimepicker';
@import "social-share-button";
@import "jquery.fileupload";
@import "jquery.fileupload-ui";

[class*='col-'] {
  font-family: 'Montserrat';
  font-weight: 200;
}

a {
  color: #a61e57;
  &:hover {
    color: #E2347D;
    text-decoration: none;
  }
}

.section-pessoal,
.section-sinopse,
.section-collection,
.user-profile,
.user-movies-series,
.user-videos {
  overflow: hidden;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 2px solid #ccc;
}
