.welcome {
  margin-top: 45px;
  font-size: 20px;
  color: white;
}

.logout {
  color: white;
  a {
    color: white;
  }

  a:hover {
    color: #808080;
  }
}

.actionbar {
  position: relative;
  z-index: 10;
  color: #FFFFFF;
  font-size: 14px;
  background: rgba(238, 69, 115, 0.9);
}

.actionbar .social img {
  display: inline-block;
  margin-right: 10px;
  width: 18px;
}

.actionbar a,
.actionbar a:hover {
  color: white;
}

.icon {
  display: inline-block;
  width:19px;
  height: 19px;
  vertical-align: middle;
}

.icon-button {
  background: asset-url('icons/icon_button.png');
  margin-left: 10px;
}
span.register {
  margin-left: 15px;
}
span.register, span.register a { color: #FFFFFF; }

.navbar-toggle {
  background: #000;
}

.navbar-toggle .icon-bar {
  background: #FFF;
}

.actionbar .container .row [class*='col-'] { padding: 12px 0; }

.banner { background: asset-url('banner_home.jpg') no-repeat top center; }

.banner-front{
  background-color: rgba(166, 30, 87,0.9);
  height: auto;
}

.section-login {
  margin-top: 40px;
}

.search-field {
  display: flex;
}

#login::-webkit-input-placeholder { color:#a61e57; }
#login:-moz-placeholder { color:#a61e57; }
#login:-ms-input-placeholder { color:#a61e57; }

#password::-webkit-input-placeholder { color:#a61e57; }
#password:-moz-placeholder { color:#a61e57; }
#password:-ms-input-placeholder { color:#a61e57; }

#search::-webkit-input-placeholder { color:#a61e57; }
#search:-moz-placeholder { color:#a61e57; }
#search:-ms-input-placeholder { color:#a61e57; }

input#login, input#password {
  padding: 20px 15px;
}

.form-search [class*='col-'] {
  padding: 0;
}

.form-search #search {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-search button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 34px;
  box-shadow: 3px 4px 10px -2px rgba(0,0,0,.5);
}

.btn-login {
  background: #ee4573;
  color: #FFF;
}

ul.menu { list-style: none; }
ul.menu li { display: inline-block; padding: 10px 20px; }
ul.menu li:before {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #FFFFFF;
  margin-bottom: 10px;
}
ul.menu li a { color: #FFFFFF; }

ul.menu li.active:before {
  background: #ee4573;
}
