.modal-dialog {
  margin-top: 60px !important;

  label {
    font-size: 13px;
    line-height: 7px;
  }

  [data-checkboxes] {
    label {
      cursor: pointer;
      float: left;
      line-height: 21px;
    }
  }
}

 .title-separator {
    padding: 0 0 5px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .title-separator .big-item {
    -webkit-box-flex: 2;
    -webkit-flex: 2 0 0;
    -ms-flex: 2 0 0;
    flex: 2 0 0;
  }

  .title-separator .small-item {
    -webkit-box-flex: 0.8;
    -webkit-flex: 0.8 0 0;
    -ms-flex: 0.8 0 0;
    flex: 0.8 0 0;
  }

  .media-heading.title-section {
    font-size: 15px;
    line-height: 15px;
    color: #a61e57;
    font-weight: bold;
    margin: 10px 0;
  }

  .thumb {
    position: relative;
    /*display: inline-block;*/
  }


  .thumb img {
   -webkit-transition: .3s ease;
   transition: .3s ease;
   margin: 0 auto;
 }

 .thumb span.rollover {
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background: asset-url('icons/overlay_plus.png') center center no-repeat rgba(255, 255, 255, 0.4);
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0;
  filter: alpha(opacity=0);
  display: block;
}

.thumb span.rollover:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /*box-shadow: 0px 0px 4px #000;*/
}

.btn.btn-saiba-mais {
  // border: 1px solid #a61e57;
  color: #a61e57;
  border-radius: 5px;
  border: 1px solid #da2a74;
  color: #da2a74;
}

#carousel-poster .carousel-control i, #carousel-featured .carousel-control i {
  color: #ee4573;
}

.carousel-inner .item img {
  margin: 0 auto;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-control span:before {
  color: #a61e57;
}

.review-item {
  display: inline-block;
  margin-bottom: 25px;
}

.review-item .thumb {
  margin-bottom: 10px;
}

.review-item .title {
  margin: 0;
}

.review-item p {
  margin-top: 10px;
}

.review-item span.subtitle {
  display: block;
  font-size: 15px;
}

.review-item span.original-title {
  display: block;
  font-size: 13px;
  font-style: italic;
}

.social-item {
  display: inline-block;
}

.discussion-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.discussion-item .title {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 0;
  -ms-flex: 2 0 0;
  flex: 2 0 0;
}

.discussion-item .title a {
  display: inline-block;
  font-size: 15px;
  color: #a61e57;
}

.discussion-item .title span.author {
  display: block;
  font-size: 13px;
}

.discussion-item .views {
 -webkit-box-flex: 1.2;
 -webkit-flex: 1.2 0 0;
 -ms-flex: 1.2 0 0;
 flex: 1.2 0 0;
}

.discussion-item .views .comments, .discussion-item .views .views {
 display: inline-block;
}

.discussion-item .views span.vermelho {
  color: #a61e57;
}

.discussion-item .last-comment {
  -webkit-box-flex: 1.3;
  -webkit-flex: 1.3 0 0;
  -ms-flex: 1.3 0 0;
  flex: 1.3 0 0;
}

.discussion-item .last-comment .thumb-user {
  float: left;
  margin-right: 15px;
}

.discussion-item .last-comment .last-user {
  display: inline-block;
}

.discussion-item .last-comment .last-user span.vermelho {
  color: #a61e57;
  display: block;
}

footer {
  margin-top: 40px;
  border-top: 8px solid #a61e57;
  background: #f1f2f2;
  padding: 40px 0;
}

.copyright {
  background: #a61e57;
  padding: 20px 0;
  color: #FFFFFF;
}

.copyright a {
  color: #ee4573;
}

.sitemap ul li, .sitemap ul li a {
  color: #a61e57;
}

.titulo-newsletter img {
  display: inline-block;
  width: 30px;
  vertical-align: baseline;
}

.titulo-newsletter {
  color: #a61e57;
  font-size: 20px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tab-movie li.active a, .tab-movie li.active a:hover {
  background-color: #ee4573 !important;
}

.tab-movie li a {
  background-color: #ebebeb !important;
}

.ciner-search, .ciner-gender, .ciner-most-popular {
  margin-bottom: 40px;
}

.most-popular-item {
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
}

.stats {
  display: inline-block;
  margin-top: 10px;
}

.stats-item {
  margin-top: 8px;
}

div.user-avatar, div.user-info {
  margin-bottom: 20px;
}

.user-info span.user-name, .user-info span.user-age, .user-info span.user-city,
.user-info span.user-birth-ciner, .user-info span.user-bio, .user-info span.user-gender,
.user-info span.user-race, .user-info span.user-height, .user-info span.user-weight,
.user-info span.user-drt {
  font-weight: bold;
  color: #a2275c;
  font-size: 16px;
}

div.user-bio {
  font-size: 13px; line-height: 13px;
}

.box-sinopse {
  background: #e7eef1;
  padding: 20px;
  border-radius: 5px;
  color: #000000;
}

.anchors {
  padding: 10px 0;
}

.shelf,
.no-shelf {
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.shelf {
  background: asset-url('prateleira.jpg') bottom left repeat-x;
}

.user-movies-series-item {
  margin-bottom: 20px;
}

.user-review .review-item .category {
  margin-bottom: 20px;
}

.user-review .review-item .category .category-type {
  font-weight: bold;
  color: #a61e57;
}

.friend-info {
  margin-bottom: 20px;
}

.btn-anchor {
  background: #ebebeb;
  color: #524b4b;
  padding: 10px 15px;
  font-size: 16px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  transition: all ease 0.4s;
}

.btn-anchor:hover {
  text-decoration: none;
  background: #ee4573;
  color: #FFF;
}

.user-logged a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.wrong-user a {
  color: #FFF;
  font-size: 11px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
