%h3.wine.bold
  MISSÃO
%p
  Oferecer serviços, informações e entretenimento do mundo cinematográfico à todos aqueles que são fascinados por Cinema, permitindo a troca de experiência entre cinéfilos e profissionais da área.

%h3.wine.bold
  VISÃO

%p
  Ser reconhecido como maior portal de Cinema do mundo em língua portuguesa, contribuindo para difundir e fomentar a indústria cinematográfica brasileira.

%h3.wine.bold
  VALOR
%p
  %span.bold
    VALORIZAR
  o Cinema Nacional e seus profissionais;
%p
  %span.bold
    PROMOVER
  conteúdos cinematográficos que tragam benefícios aos usuários e profissionais da área;
%p
  %span.bold
    SER ATUANTE
  no fomento da Indústria Cinematográfica Brasileira.
