- content_for :javascript, javascript_include_tag('components/ciner_slider')
- content_for :stylesheet, stylesheet_link_tag('components/ciner_slider')

- role = role

/ SECTION POSTER
.section-poster
  .ciner-poster.title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#filme"}/
      .media-body.media-bottom
        .media-heading.title-section Filmes em cartaz
      .media-body.text-right.media-middle
        %a{:href => "#"}
          = t('see_more')

  = render 'shared/home/carousel/carousel', role: role, carousel_id: 'carousel-filmes-cartaz', slider_movies: playing_movies

  = render 'shared/home/showcase/showcase', role: role, showcase_class: 'showcase-poster', slider_movies: playing_movies
