- role = role

/ SECTION POSTER
.section-poster
  .ciner-poster.title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#filme"}/
      .media-body.media-bottom
        .media-heading.title-section
          Filmes em Cartaz
      .media-body.text-right.media-middle.see-more.see-more
        = link_to url_for([role, :playing_filmables]) do
          = t('see_more')

  .row{ style: 'margin-right: 0px; margin-left: 0px;' }
    = render 'shared/home/showcase/showcase', role: role, showcase_class: 'showcase-poster', slider_movies: slider_movies
