.row
  .col-xs-3
    SOBRE SER CINER
  .col-xs-9
    %p
      Ciner é uma nova forma de se pensar Cinema. Mais do que isso, é um novo conceito para quem admira a Sétima Arte. Todos nós temos um pouco de Ciner.
    %p
      Gostamos de produzir, atuar, fotografar, opinar. Além dos grandes filmes, aqui você divulga seu trabalho e encontra produções de outros usuários, voltadas exclusivamente para o meio cinematográfico.
    %p
      Para quem coleciona filmes, uma estante para catalogar, gerenciar ou simplesmente compartilhar sua coleção.
    %p
      A cada semana, novas críticas em destaque: uma análise da equipe CINER e outra dos críticos de plantão. Por que não a sua?
    %p
      Mais do que saber as novidades do mundo do Cinema, aqui você faz parte dele.

    %p.pink
      Bem-vindo, CINER!

%hr

.row
  .col-xs-12
    QUE CINER SOU EU?

.row
  .col-xs-6
    MENSAL
  .col-xs-6
    ANUAL

.row
  .col-xs-12.col-sm-6.col-md-3
    CINER
  .col-xs-12.col-sm-6.col-md-3
    CINER PRO
  .col-xs-12.col-sm-6.col-md-3
    CINER CLÁSSICO
  .col-xs-12.col-sm-6.col-md-3
    CINER CULT
