= render 'shared/toolbar'

.toolbar
  .row.searchbar
    .col-xs-12
      = render 'shared/searchbar', form_url: request.url, filter_params: params.fetch(:filter, nil)

  #filters.row.filters{ data: { dynamic_filter: '' } }
    = simple_form_for :filter, url: series_index_path, method: :get, data: { filter_form: '' } do |f|
      = hidden_field_tag :search, params[:search]
