- object = movie
- filmable_type = object.class
- filmable_id = object.id

#criticas.criticas
  .title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#critica"}
      .media-body.media-bottom
        .media-heading.title-section
          = Critic.model_name.human(count: 2)
      .media-body.text-right.media-middle
        %a
          = link_to t('more'), url_for([role, :critics, filter: { filmable_type: filmable_type, filmable_id: filmable_id }])
  .reviews
    .row
      - object.critics.only_two.each do |critic|
        = render 'shared/movies/critic', critic: critic, role: role if critic
