- object = professional
- role = role

- if object
  - avatar = object.avatar
  - avatar = image_path("default/professional/image.jpg") if object.avatar.url.blank?
  - professional_class ||= ""
  - data_mh ||= ""
  - observation ||= nil

  = link_to url_for([role, object]) do
    .col-xs-6.col-sm-4.col-md-2.col-lg-2{ class: professional_class, "data-mh": data_mh, style: "width: 130px; height: 240px;" }
      %img.img-responsive{ src: avatar, style: "width: 100px; height: 150px;" }
      %h5
        = object.name
      - unless observation && observation.empty?
        %p
          = observation
