.estatistica
  .meta-ja-assistiram
    %span.wine Já viram
    %svg.icon-estatisticas
      %use{"xlink:href" => "#ja-assisti"}
    5000
  .interesses
    %svg.icon-estatisticas
      %use{"xlink:href" => "#usuario"}
    %a{:href => "#"} Amigos
    |
    %a{:href => "#"} Todos
.estatistica
  .meta-querem-ver
    %span.wine Querem ver
    %svg.icon-estatisticas
      %use{"xlink:href" => "#quero-ver"}
    5000
  .interesses
    %svg.icon-estatisticas
      %use{"xlink:href" => "#usuario"}
    %a{:href => "#"} Amigos
    |
    %a{:href => "#"} Todos
.estatistica
  .meta-nao-querem-ver
    %span.wine Não querem
    %svg.icon-estatisticas
      %use{"xlink:href" => "#nao-quer-ver"}
    5000
  .interesses
    %svg.icon-estatisticas
      %use{"xlink:href" => "#usuario"}
    %a{:href => "#"} Amigos
    |
    %a{:href => "#"} Todos
.estatistica
  .meta-comentarios
    %span.wine Comentários
    %svg.icon-estatisticas
      %use{"xlink:href" => "#comentario-usuario"}
    5000
  .interesses
    %svg.icon-estatisticas
      %use{"xlink:href" => "#usuario"}
    %a{:href => "#"} Amigos
    |
    %a{:href => "#"} Todos
.estatistica
  .meta-favoritos
    %span.wine Favoritos
    %svg.icon-estatisticas
      %use{"xlink:href" => "#favorito"}
    5000
  .interesses
    %svg.icon-estatisticas
      %use{"xlink:href" => "#usuario"}
    %a{:href => "#"} Amigos
    |
    %a{:href => "#"} Todos
