/ MOVIES THUMB
.showcase-featured.visible-lg.visible-md
  .movie-featured-item.col-xs-6.col-sm-4.col-md-2
    .thumb
      %a{:href => "#"}
        %span.rollover
        =image_tag("example_movie.jpg", class: "img-responsive")
  .movie-featured-item.col-xs-6.col-sm-4.col-md-2
    .thumb
      %a{:href => "#"}
        %span.rollover
        =image_tag("example_movie.jpg", class: "img-responsive")
  .movie-featured-item.col-xs-6.col-sm-4.col-md-2
    .thumb
      %a{:href => "#"}
        %span.rollover
        =image_tag("example_movie.jpg", class: "img-responsive")
  .movie-featured-item.col-xs-6.col-sm-4.col-md-2
    .thumb
      %a{:href => "#"}
        %span.rollover
        =image_tag("example_movie.jpg", class: "img-responsive")
  .movie-featured-item.col-xs-6.col-sm-4.col-md-2
    .thumb
      %a{:href => "#"}
        %span.rollover
        =image_tag("example_movie.jpg", class: "img-responsive")
  .movie-featured-item.col-xs-6.col-sm-4.col-md-2
    .thumb
      %a{:href => "#"}
        %span.rollover
        =image_tag("example_movie.jpg", class: "img-responsive")
/ MOVIES THUMB
