- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

.row
  .col-xs-12
    = film_production.title
.row
  .col-xs-12
    = film_production.original_title
.row
  .col-xs-12
    = film_production.year
