.title-separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 0 8px;
  line-height: 40px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
  vertical-align: middle;
}

.title-separator .big-item {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 0;
  -ms-flex: 2 0 0;
  flex: 2 0 0;
}

.title-separator .small-item {
  -webkit-box-flex: 0.8;
  -webkit-flex: 0.8 0 0;
  -ms-flex: 0.8 0 0;
  flex: 0.8 0 0;
}

.ciner-poster,
.ciner-featured,
.ciner-news,
.ciner-review,
.ciner-social,
.ciner-discussion,
.ciner-search {
}

.title-separator .big-item .title-section {
  display: inline-block;
  margin-left: 10px;
  color: #a61e57;
  font-weight: bold;
}

.thumb {
  position: relative;
}

.movie-poster-item .thumb img,
.movie-featured-item .thumb img {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  margin: 0 auto;
}

.movie-poster-item .thumb span.rollover,
.movie-featured-item .thumb span.rollover {
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background: asset-url('icons/overlay_plus.png') center center no-repeat rgba(255, 255, 255, 0.4);
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0;
}

.movie-poster-item .thumb span.rollover:hover,
.movie-featured-item .thumb span.rollover:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}

.featured {
  background-color: rgba(241, 242, 242, 0.8);
  border-bottom: none;
  border-top: none;
  border-radius: 10px;
}

.btn-saiba-mais {
  border: 1px solid #a61e57;
  color: #a61e57;
  border-radius: 5px;
}

.btn-saiba-mais:hover {
  color: #da2a74;
  border: 1px solid #da2a74;
}

.carousel-inner .item img {
  margin: 0 auto;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.carousel-control span:before {
  color: #a61e57;
}

.review-item {
  display: inline-block;
  margin-bottom: 25px;
}

.review-item .thumb {
  margin-bottom: 10px;
}

.review-item .title {
  margin: 0;
}

.review-item p {
  margin-top: 10px;
}

.review-item span.subtitle {
  display: block;
  font-size: 15px;
}

.review-item span.original-title {
  display: block;
  font-size: 13px;
  font-style: italic;
}

.social-item {
  display: inline-block;
}

.discussion-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.discussion-item .title {
  flex: 2 0 0;
}

.discussion-item .title a {
  display: inline-block;
  font-size: 15px;
  color: #a61e57;
}

.discussion-item .title span.author {
  display: block;
  font-size: 13px;
}

.discussion-item .views {
  flex: 1.2 0 0;
}

.discussion-item .views .comments,
.discussion-item .views .views {
  display: inline-block;
}

.discussion-item .views span.vermelho {
  color: #a61e57;
}

.discussion-item .last-comment {
  flex: 1.3 0 0;
}

.discussion-item .last-comment .thumb-user {
  float: left;
  margin-right: 15px;
}

.discussion-item .last-comment .last-user {
  display: inline-block;
}

.discussion-item .last-comment span.vermelho {
  color: #a61e57;
  display: block;
}

.carousel-control {
  width: 4%;
}

.carousel-control.left,
.carousel-control.right {
  margin-left: 15px;
  background-image: none;
}

@media (max-width:767px) {
  .carousel-inner .active.left {
    left: -100%;
  }

  .carousel-inner .next {
    left: 100%;
  }

  .carousel-inner .prev {
    left: -100%;
  }

  .active > div {
    display: none;
  }

  .active > div:first-child {
    display: block;
  }

}

@media (min-width:767px) and (max-width:992px) {
  .carousel-inner .active.left {
    left: -50%;
  }

  .carousel-inner .next {
    left: 50%;
  }

  .carousel-inner .prev {
    left: -50%;
  }

  .active > div {
    display: none;
  }

  .active > div:first-child {
    display: block;
  }

  .active > div:first-child + div {
    display: block;
  }

}

@media (min-width:992px) {
  .carousel-inner .active.left {
    left: -25%;
  }

  .carousel-inner .next {
    left: 25%;
  }

  .carousel-inner .prev {
    left: -25%;
  }

}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control
.glyphicon-chevron-right,
.glyphicon-circle-arrow-left,
.carousel-control .glyphicon-circle-arrow-left,
.carousel-control .glyphicon-circle-arrow-right {
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
}

/*extra*/
div.welcome {
  font-weight: bold;
  color: white;
  font-size: 14pt;
  margin-top: 11px;
}

div.logout a {
  color: white;
}

div.logout a:hover {
  color: whitesmoke;
}

;

.icon-social-topo {
  width: 25px;
  height: 20px;
  vertical-align: middle;
  fill: #FFFFFF;
}

.icon-popular {
  width: 27px;
  height: 31px;
  vertical-align: middle;
}

.icon-tags {
  width: 18px;
  height: 16px;
  vertical-align: middle;
}

.icon-title {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.icon-comentario {
  width: 17px;
  height: 15px;
  vertical-align: middle;
  fill: #524c4c !important;
}

.icon-social {
  width: 27px;
  height: 25px;
  vertical-align: middle;
  fill: #524c4c !important;
}

.icon-estatisticas {
  width: 20px;
  height: 18px;
  vertical-align: bottom;
}

.icon-debate {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.icon-botao {
  width: 19px;
  height: 19px;
  margin-left: 8px;
  vertical-align: middle;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  color: #FFFFFF !important;
  background-color: #a1275c !important;
  border-color: #a1275c !important;
}

.pagination>li>a,
.pagination>li>span {
  color: #524b4b !important;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #E2347D !important;
}

[data-collapse-control] {
  cursor: pointer;
  vertical-align: bottom;
}
