@font-face {
  font-family: 'Montserrat';
  src: font-url("Montserrat-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: font-url("Montserrat-Light.otf") format("opentype");
  font-weight: 200;
}
