footer {
  margin-top: 20px;
  border-top: 8px solid #93224D;
  background: #f1f2f2;
  padding: 20px 0;
}

.copyright {
  background: #93224D;
  padding: 20px 0;
  color: #FFF;
}

.copyright a {
  color: #ee4573;
}

.sitemap ul li, .sitemap ul li a {
  color: #93224D;
}
