@import 'base/colors';

// .welcome {
//   margin-top: 45px;
//   font-size: 20px;
//   color: white;
// }

.logout {
  color: white;

  a {
    color: white;
  }

  a:hover {
    color: #808080;
  }

}

.icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
}

.icon-button {
  background: asset-url('icons/icon_button.png');
  margin-left: 10px;
}

span.register {
  margin-left: 15px;
}

span.register,
span.register a {
  color: #FFFFFF;
}

.navbar-toggle {
  background: #000;
}

.navbar-toggle .icon-bar {
  background: #FFF;
}

.actionbar .container .row [class*='col-'] {
  padding: 12px 0;
}

.banner {
  height: 60px;
}

.banner-front {
  background-color: rgba(166, 30, 87, 0.9);
  height: auto;
}

.section-login {
  margin-top: 40px;
}

.search-field {
  display: flex;
}

#login::-webkit-input-placeholder {
  color: #a61e57;
}

#login:-moz-placeholder {
  color: #a61e57;
}

#login:-ms-input-placeholder {
  color: #a61e57;
}

#password::-webkit-input-placeholder {
  color: #a61e57;
}

#password:-moz-placeholder {
  color: #a61e57;
}

#password:-ms-input-placeholder {
  color: #a61e57;
}

#search::-webkit-input-placeholder {
  color: #a61e57;
}

#search:-moz-placeholder {
  color: #a61e57;
}

#search:-ms-input-placeholder {
  color: #a61e57;
}

input#login,
input#password {
  padding: 20px 15px;
}

.form-search [class*='col-'] {
  padding: 0;
}

.form-search #search {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-search button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 34px;
  box-shadow: 3px 4px 10px -2px rgba(0, 0, 0, .5);
}

.btn-login {
  background: #ee4573;
  color: #FFF;
}

ul.menu {
  list-style: none;
}

ul.menu li {
  display: inline-block;
  padding: 10px 20px;
}

ul.menu li:before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  margin-bottom: 10px;
}

ul.menu li a {
  color: #FFFFFF;
}

ul.menu li.active:before {
  background: #ee4573;
}

ul.menu li:hover:before {
  background: #ee4573;
}

#mainmenu.collapse.navbar-collapse {
  font-size: 13px;
}

.actionbar {
  position: relative;
  z-index: 10;
  color: #FFFFFF;
  font-size: 14px;
  background: rgba(238, 69, 115, 0.9);
  height: 57.6px;
  line-height: 28.5px;

  .social img {
    display: inline-block;
    margin-right: 10px;
    width: 18px;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: white;
    text-decoration: none !important;
  }

}

.actionbar.nav-container.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 10px;
  font-size: 13px;
  height: 57.6px;
  line-height: 40px;
  background: rgba(166, 30, 87, 0.9);

  .simple_form.searches {
    margin-top: 5px;

    input[type="text"] {
      float: right;
      color: $gray;
      height: 30px;
      border-radius: 50px;
      font-size: 14px;
      line-height: 14px;
      padding-left: 12px;
      width: 100%;
      padding-right: 25px;
      background: rgba(255, 255, 255, 0.9);
    }

    .glyphicon.glyphicon-search {
      color: $gray;
      left: -10px;
      top: -24px;
      font-size: 18px;
    }
  }

  [class*='col-'] {
    padding: 0px;
  }

  ul.menu li {
    padding: 0px 5px;
  }

  ul.menu li:before {
    display: none;
  }

  // ul.menu li.dropdown:hover .dropdown-menu.horizontal,
  // ul.menu li.dropdown:hover .dropdown-menu.vertical {
  //   display: block;
  // }

  ul.dropdown-menu.horizontal {
    background: rgba(166, 30, 87, 0.8);
    padding: 10px;
    margin: 0px;
    list-style: none;
    width: 600px;
    margin-top: 8px;

    li {
      display: inline;
      margin-right: 20px;

      a {
        display: inline-block;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 200;
        line-height: 40px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
      }

      a:hover {
        text-transform: none;
        background: transparent;
      }

    }
  }

  ul.dropdown-menu.vertical {
    background: rgba(166, 30, 87, 0.8);
    padding: 10px;
    margin: 0px;
    list-style: none;
    width: 200px;
    margin-top: 8px;

    li {
      display: block;
      margin-right: 20px;

      a {
        display: inline-block;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 200;
        line-height: 40px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
      }

      a:hover {
        text-transform: none;
        background: transparent;
      }
    }
  }
}
