.col-xs-12.col-md-8.ciner-videos{ style: 'margin-top: -10px' }
  .title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{ "xlink:href": "#video" }
      .media-body.media-bottom
        .media-heading.title-section
          Trailers mais recentes

  .row
    - trending_trailers.each do |object|
      .ciner-movie.col-xs-12.col-sm-6.col-md-4
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => object.trailer, :width => "100%"}

        .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
          = link_to url_for([role, object.filmable]) do
            = object.filmable.title_str
