@import 'base/colors';

h3 {
  color: $pink;
}

table {
  width: 100%;

  > thead {
    > tr {
      > th {
        text-align: left;
        color: $pink;
      }
    }
  }

  > tbody {
    > tr {
      > td {
        text-align: left;

        a {
          color: inherit;
          display: block;
          width: 100%;
          text-align: left;
          line-height: 45px;

            &:hover {
              text-decoration: none;
            }
          }
      }
    }
  }

  td {
    &.action {
      width: 4%;

      .action-button {
        margin-left: 0;
      }
    }

    a.margin-top-12 {
      margin: 12px 0 0 0;
    }
  }
}
