- carousel_id ||= 'carousel-filmes-cartaz'
- role = role

.col-xs-12.hidden-lg.hidden-md
  / Carousel Mobile Featured
  .carousel.slide.carousel-responsive.carousel-showsixmoveone{id: carousel_id, "data-interval" => "7000", "data-ride" => "carousel", "data-type" => "multi"}
    .carousel-inner
      = render 'shared/home/carousel/item', role: role, carousel_class: 'active'
      - 9.times do
        = render 'shared/home/carousel/item', role: role, carousel_class: ''

    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-featured"}
      %i.glyphicon.glyphicon-chevron-left

    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-featured"}
      %i.glyphicon.glyphicon-chevron-right
  / Carousel Mobile Featured
