- carousel_class ||= 'active'

.slide
  .item{ class: carousel_class }
    .col-md-4.col-sm-6.col-xs-12.text-center
      .thumb
        %a{:href => "#"}
          %span.rollover
          %img.img-responsive{:src => "https://upload.wikimedia.org/wikipedia/en/6/61/The_Lego_Batman_Movie_PromotionalPoster.jpg"}/
