!!!
%html{ style: 'margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden' }
  %head
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }

    %title
      = full_title(yield(:title))

    = render 'layouts/symbols'

    = favicon_link_tag 'favicon.ico'

    %meta{'name' => 'robots', 'content' => 'noindex, nofollow' }
  %body{ style: 'margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden' }
    = image_tag('ciner-full.jpg', style: 'margin: 0; padding: 0; width: 100%; height: 100%;')
