!!!
%html{ style: 'margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden' }
  %head
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }

    %title
      = full_title(yield(:title))

    = render 'layouts/symbols'

    = favicon_link_tag 'favicon.ico'

    %meta{'name' => 'robots', 'content' => 'noindex, nofollow' }
  %body{ style: 'margin: auto; padding: 0; width: 100%; height: 100%; overflow: hidden; background-color: rgb(148, 35, 78);' }
    .centerimg{ style: 'position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); /* IE 9 */ -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */ transform: translate(-50%, -50%);' }
      = image_tag('ciner-full.jpg', style: 'margin: auto; padding: 0; width: 100%; height: 100%; max-width: 360px; max-height: 228px')
