- role = current_role(current_user, request.url)

/ %footer
/   .container{ style: 'width: 100%' }
/     / Desktop
/     .hidden-xs
/       = render 'layouts/desktop_footer', role: role
/     / Mobile
/     .hidden-sm.hidden-md.hidden-lg.hidden-xl
/       = render 'layouts/mobile_footer', role: role

.copyright
  .container
    .row
      .col-xs-12.text-center{ style: 'margin-top: 10px;' }
        © 2017 Ciner. Todos os direitos reservados.
